In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('WeatherPy_Data.csv')

In [3]:
del df['Unnamed: 0']

In [4]:
df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,airai,-8.9266,125.4092,71.31,93,99,1.36,TL,1615268589
1,carnarvon,-24.8667,113.6333,84.20,74,99,12.66,AU,1615268573
2,caravelas,-17.7125,-39.2481,74.84,88,89,3.91,BR,1615268685
3,komsomolskiy,40.4272,71.7189,51.80,54,89,2.30,UZ,1615268562
4,kirakira,-10.4544,161.9205,83.79,70,91,2.24,SB,1615268665
...,...,...,...,...,...,...,...,...,...
560,davila,18.4726,120.5763,87.80,58,20,11.50,PH,1615268598
561,joensuu,62.6012,29.7632,-11.20,84,0,3.44,FI,1615268787
562,charcas,23.1333,-101.1167,49.68,85,17,9.42,MX,1615268787
563,navrongo,10.8956,-1.0921,81.70,42,51,6.15,GH,1615268588
564,kaka,37.3482,59.6143,62.22,32,94,1.86,TM,1615268787

In [5]:
df2=df.round(decimals=2)

In [6]:
df2

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,airai,-8.93,125.41,71.31,93,99,1.36,TL,1615268589
1,carnarvon,-24.87,113.63,84.20,74,99,12.66,AU,1615268573
2,caravelas,-17.71,-39.25,74.84,88,89,3.91,BR,1615268685
3,komsomolskiy,40.43,71.72,51.80,54,89,2.30,UZ,1615268562
4,kirakira,-10.45,161.92,83.79,70,91,2.24,SB,1615268665
...,...,...,...,...,...,...,...,...,...
560,davila,18.47,120.58,87.80,58,20,11.50,PH,1615268598
561,joensuu,62.60,29.76,-11.20,84,0,3.44,FI,1615268787
562,charcas,23.13,-101.12,49.68,85,17,9.42,MX,1615268787
563,navrongo,10.90,-1.09,81.70,42,51,6.15,GH,1615268588
564,kaka,37.35,59.61,62.22,32,94,1.86,TM,1615268787

In [7]:
df2=df.round(decimals=2)

In [8]:
df2

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,airai,-8.93,125.41,71.31,93,99,1.36,TL,1615268589
1,carnarvon,-24.87,113.63,84.20,74,99,12.66,AU,1615268573
2,caravelas,-17.71,-39.25,74.84,88,89,3.91,BR,1615268685
3,komsomolskiy,40.43,71.72,51.80,54,89,2.30,UZ,1615268562
4,kirakira,-10.45,161.92,83.79,70,91,2.24,SB,1615268665
...,...,...,...,...,...,...,...,...,...
560,davila,18.47,120.58,87.80,58,20,11.50,PH,1615268598
561,joensuu,62.60,29.76,-11.20,84,0,3.44,FI,1615268787
562,charcas,23.13,-101.12,49.68,85,17,9.42,MX,1615268787
563,navrongo,10.90,-1.09,81.70,42,51,6.15,GH,1615268588
564,kaka,37.35,59.61,62.22,32,94,1.86,TM,1615268787

In [9]:
print(df2.to_html())

83</td>
      <td>72</td>
      <td>80</td>
      <td>11.90</td>
      <td>PH</td>
      <td>1615268768</td>
    </tr>
    <tr>
      <th>477</th>
      <td>simplicio mendes</td>
      <td>-7.85</td>
      <td>-41.91</td>
      <td>70.79</td>
      <td>91</td>
      <td>75</td>
      <td>1.95</td>
      <td>BR</td>
      <td>1615268769</td>
    </tr>
    <tr>
      <th>478</th>
      <td>nisia floresta</td>
      <td>-6.09</td>
      <td>-35.21</td>
      <td>77.00</td>
      <td>88</td>
      <td>20</td>
      <td>3.44</td>
      <td>BR</td>
      <td>1615268769</td>
    </tr>
    <tr>
      <th>479</th>
      <td>cedar city</td>
      <td>37.68</td>
      <td>-113.06</td>
      <td>51.80</td>
      <td>17</td>
      <td>1</td>
      <td>29.93</td>
      <td>US</td>
      <td>1615268769</td>
    </tr>
    <tr>
      <th>480</th>
      <td>kutum</td>
      <td>14.20</td>
      <td>24.67</td>
      <td>67.01</td>
      <td>18</td>
      <td>0</td>
      <td>6.06</td>
      <td>SD</td>
      <td>1615268663</td>
    </tr>
    <tr>
      <th>481</th>
      <td>tooele</td>
      <td>40.53</td>
      <td>-112.30</td>
      <td>48.00</td>
      <td>66</td>
      <td>1</td>
      <td>6.91</td>
      <td>US</td>
      <td>1615268770</td>
    </tr>
    <tr>
      <th>482</th>
      <td>daru</td>
      <td>-9.08</td>
      <td>143.21</td>
      <td>82.20</td>
      <td>83</td>
      <td>80</td>
      <td>9.93</td>
      <td>PG</td>
      <td>1615268587</td>
    </tr>
    <tr>
      <th>483</th>
      <td>dandong</td>
      <td>40.13</td>
      <td>124.39</td>
      <td>49.82</td>
      <td>49</td>
      <td>0</td>
      <td>2.59</td>
      <td>CN</td>
      <td>1615268770</td>
    </tr>
    <tr>
      <th>484</th>
      <td>namibe</td>
      <td>-15.20</td>
      <td>12.15</td>
      <td>73.09</td>
      <td>78</td>
      <td>40</td>
      <td>1.07</td>
      <td>AO</td>
      <td>1615268770</td>
    </tr>
    <tr>
      <th>485</th>
      <td>maceio</td>
      <td>-9.67</td>
      <td>-35.74</td>
      <td>73.40</td>
      <td>94</td>
      <td>20</td>
      <td>3.44</td>
      <td>BR</td>
      <td>1615268542</td>
    </tr>
    <tr>
      <th>486</th>
      <td>la trinidad</td>
      <td>16.45</td>
      <td>120.59</td>
      <td>75.85</td>
      <td>50</td>
      <td>57</td>
      <td>4.41</td>
      <td>PH</td>
      <td>1615268548</td>
    </tr>
    <tr>
      <th>487</th>
      <td>kamenka</td>
      <td>51.32</td>
      <td>42.77</td>
      <td>21.00</td>
      <td>94</td>
      <td>29</td>
      <td>3.69</td>
      <td>RU</td>
      <td>1615268771</td>
    </tr>
    <tr>
      <th>488</th>
      <td>gushikawa</td>
      <td>26.35</td>
      <td>127.87</td>
      <td>75.20</td>
      <td>73</td>
      <td>40</td>
      <td>8.05</td>
      <td>JP</td>
      <td>1615268771</td>
    </tr>
    <tr>
      <th>489</th>
      <td>kang</td>
      <td>-23.68</td>
      <td>22.79</td>
      <td>72.97</td>
      <td>55</td>
      <td>71</td>
      <td>9.28</td>
      <td>BW</td>
      <td>1615268771</td>
    </tr>
    <tr>
      <th>490</th>
      <td>dudinka</td>
      <td>69.41</td>
      <td>86.18</td>
      <td>-15.74</td>
      <td>88</td>
      <td>99</td>
      <td>9.91</td>
      <td>RU</td>
      <td>1615268772</td>
    </tr>
    <tr>
      <th>491</th>
      <td>glenwood springs</td>
      <td>39.55</td>
      <td>-107.32</td>
      <td>36.00</td>
      <td>59</td>
      <td>1</td>
      <td>12.66</td>
      <td>US</td>
      <td>1615268770</td>
    </tr>
    <tr>
      <th>492</th>
      <td>wiarton</td>
      <td>44.74</td>
      <td>-81.13</td>
      <td>35.60</td>
      <td>87</td>
      <td>40</td>
      <td>4.61</td>
      <td>CA</td>
      <td>1615268772</td>
    </tr>
    <tr>
      <th>493</th>
      <td>saint-augustin</td>
      <td>51.23</td>
      <td>-58.65</td>
      <td>8.38</td>
      <td>92</td>
      <td>0</td>
      <td>5.86</td>
      <td>CA</td>
      <td>1615268667</td>
    </tr>
    <tr>
      <th>494</th>
      <td>tual</td>
      <td>-5.67</td>
      <td>132.75</td>
      <td>83.64</td>
      <td>73</td>
      <td>100</td>
      <td>15.82</td>
      <td>ID</td>
      <td>1615268772</td>
    </tr>
    <tr>
      <th>495</th>
      <td>clinton</td>
      <td>42.59</td>
      <td>-82.92</td>
      <td>51.80</td>
      <td>66</td>
      <td>1</td>
      <td>5.75</td>
      <td>US</td>
      <td>1615268772</td>
    </tr>
    <tr>
      <th>496</th>
      <td>krasnyy oktyabr</td>
      <td>56.12</td>
      <td>38.88</td>
      <td>1.49</td>
      <td>92</td>
      <td>77</td>
      <td>6.69</td>
      <td>RU</td>
      <td>1615268773</td>
    </tr>
    <tr>
      <th>497</th>
      <td>brae</td>
      <td>60.40</td>
      <td>-1.35</td>
      <td>42.80</td>
      <td>87</td>
      <td>90</td>
      <td>16.11</td>
      <td>GB</td>
      <td>1615268773</td>
    </tr>
    <tr>
      <th>498</th>
      <td>imbituba</td>
      <td>-28.24</td>
      <td>-48.67</td>
      <td>71.60</td>
      <td>94</td>
      <td>75</td>
      <td>3.44</td>
      <td>BR</td>
      <td>1615268773</td>
    </tr>
    <tr>
      <th>499</th>
      <td>la playa</td>
      <td>18.29</td>
      <td>-67.19</td>
      <td>75.00</td>
      <td>96</td>
      <td>0</td>
      <td>12.12</td>
      <td>PR</td>
      <td>1615268774</td>
    </tr>
    <tr>
      <th>500</th>
      <td>andros town</td>
      <td>24.70</td>
      <td>-77.77</td>
      <td>69.80</td>
      <td>43</td>
      <td>75</td>
      <td>13.80</td>
      <td>BS</td>
      <td>1615268712</td>
    </tr>
    <tr>
      <th>501</th>
      <td>ponoka</td>
      <td>52.68</td>
      <td>-113.58</td>
      <td>23.00</td>
      <td>100</td>
      <td>100</td>
      <td>4.61</td>
      <td>CA</td>
      <td>1615268703</td>
    </tr>
    <tr>
      <th>502</th>
      <td>nouadhibou</td>
      <td>20.93</td>
      <td>-17.03</td>
      <td>62.01</td>
      <td>81</td>
      <td>0</td>
      <td>24.40</td>
      <td>MR</td>
      <td>1615268774</td>
    </tr>
    <tr>
      <th>503</th>
      <td>dabat</td>
      <td>12.98</td>
      <td>37.76</td>
      <td>65.77</td>
      <td>29</td>
      <td>6</td>
      <td>3.62</td>
      <td>ET</td>
      <td>1615268774</td>
    </tr>
    <tr>
      <th>504</th>
      <td>les cayes</td>
      <td>18.20</td>
      <td>-73.75</td>
      <td>74.16</td>
      <td>83</td>
      <td>7</td>
      <td>10.71</td>
      <td>HT</td>
      <td>1615268775</td>
    </tr>
    <tr>
      <th>505</th>
      <td>ambulu</td>
      <td>-8.35</td>
      <td>113.61</td>
      <td>84.29</td>
      <td>73</td>
      <td>31</td>
      <td>8.48</td>
      <td>ID</td>
      <td>1615268775</td>
    </tr>
    <tr>
      <th>506</th>
      <td>pingliang</td>
      <td>35.54</td>
      <td>106.69</td>
      <td>52.00</td>
      <td>32</td>
      <td>0</td>
      <td>3.00</td>
      <td>CN</td>
      <td>1615268775</td>
    </tr>
    <tr>
      <th>507</th>
      <td>bure</td>
      <td>10.70</td>
      <td>37.07</td>
      <td>74.32</td>
      <td>27</td>
      <td>16</td>
      <td>2.98</td>
      <td>ET</td>
      <td>1615268775</td>
    </tr>
    <tr>
      <th>508</th>
      <td>machico</td>
      <td>32.70</td>
      <td>-16.77</td>
      <td>57.20</td>
      <td>72</td>
      <td>75</td>
      <td>4.61</td>
      <td>PT</td>
      <td>1615268776</td>
    </tr>
    <tr>
      <th>509</th>
      <td>egvekinot</td>
      <td>66.32</td>
      <td>-179.17</td>
      <td>-32.08</td>
      <td>88</td>
      <td>59</td>
      <td>2.77</td>
      <td>RU</td>
      <td>1615268587</td>
    </tr>
    <tr>
      <th>510</th>
      <td>vila franca do campo</td>
      <td>37.72</td>
      <td>-25.43</td>
      <td>51.80</td>
      <td>93</td>
      <td>20</td>
      <td>4.61</td>
      <td>PT</td>
      <td>1615268776</td>
    </tr>
    <tr>
      <th>511</th>
      <td>namikupa</td>
      <td>-10.83</td>
      <td>39.60</td>
      <td>75.83</td>
      <td>91</td>
      <td>99</td>
      <td>0.87</td>
      <td>TZ</td>
      <td>1615268777</td>
    </tr>
    <tr>
      <th>512</th>
      <td>harper</td>
      <td>4.38</td>
      <td>-7.72</td>
      <td>78.10</td>
      <td>86</td>
      <td>46</td>
      <td>6.51</td>
      <td>LR</td>
      <td>1615268777</td>
    </tr>
    <tr>
      <th>513</th>
      <td>mangrul pir</td>
      <td>20.32</td>
      <td>77.35</td>
      <td>94.95</td>
      <td>13</td>
      <td>0</td>
      <td>8.93</td>
      <td>IN</td>
      <td>1615268777</td>
    </tr>
    <tr>
      <th>514</th>
      <td>phangnga</td>
      <td>8.45</td>
      <td>98.53</td>
      <td>97.00</td>
      <td>45</td>
      <td>0</td>
      <td>10.36</td>
      <td>TH</td>
      <td>1615268777</td>
    </tr>
    <tr>
      <th>515</th>
      <td>vila velha</td>
      <td>-20.33</td>
      <td>-40.29</td>
      <td>72.00</td>
      <td>100</td>
      <td>0</td>
      <td>2.30</td>
      <td>BR</td>
      <td>1615268610</td>
    </tr>
    <tr>
      <th>516</th>
      <td>cumberland</td>
      <td>35.05</td>
      <td>-78.87</td>
      <td>43.00</td>
      <td>60</td>
      <td>1</td>
      <td>3.44</td>
      <td>US</td>
      <td>1615268661</td>
    </tr>
    <tr>
      <th>517</th>
      <td>mizdah</td>
      <td>31.45</td>
      <td>12.98</td>
      <td>50.09</td>
      <td>91</td>
      <td>0</td>
      <td>2.17</td>
      <td>LY</td>
      <td>1615268778</td>
    </tr>
    <tr>
      <th>518</th>
      <td>cananea</td>
      <td>30.95</td>
      <td>-110.30</td>
      <td>62.01</td>
      <td>31</td>
      <td>100</td>
      <td>3.00</td>
      <td>MX</td>
      <td>1615268778</td>
    </tr>
    <tr>
      <th>519</th>
      <td>chenghai</td>
      <td>23.46</td>
      <td>116.77</td>
      <td>73.40</td>
      <td>60</td>
      <td>20</td>
      <td>6.71</td>
      <td>CN</td>
      <td>1615268779</td>
    </tr>
    <tr>
      <th>520</th>
      <td>kruisfontein</td>
      <td>-34.00</td>
      <td>24.73</td>
      <td>60.01</td>
      <td>85</td>
      <td>99</td>
      <td>3.89</td>
      <td>ZA</td>
      <td>1615268573</td>
    </tr>
    <tr>
      <th>521</th>
      <td>iqaluit</td>
      <td>63.75</td>
      <td>-68.51</td>
      <td>14.00</td>
      <td>79</td>
      <td>75</td>
      <td>3.44</td>
      <td>CA</td>
      <td>1615268618</td>
    </tr>
    <tr>
      <th>522</th>
      <td>bhuj</td>
      <td>23.27</td>
      <td>69.67</td>
      <td>90.09</td>
      <td>22</td>
      <td>0</td>
      <td>5.73</td>
      <td>IN</td>
      <td>1615268654</td>
    </tr>
    <tr>
      <th>523</th>
      <td>dombarovskiy</td>
      <td>50.76</td>
      <td>59.54</td>
      <td>20.05</td>
      <td>93</td>
      <td>66</td>
      <td>16.73</td>
      <td>RU</td>
      <td>1615268779</td>
    </tr>
    <tr>
      <th>524</th>
      <td>hun</td>
      <td>29.13</td>
      <td>15.95</td>
      <td>59.16</td>
      <td>60</td>
      <td>42</td>
      <td>7.72</td>
      <td>LY</td>
      <td>1615268779</td>
    </tr>
    <tr>
      <th>525</th>
      <td>yantal</td>
      <td>56.85</td>
      <td>105.25</td>
      <td>29.07</td>
      <td>95</td>
      <td>100</td>
      <td>14.45</td>
      <td>RU</td>
      <td>1615268779</td>
    </tr>
    <tr>
      <th>526</th>
      <td>beloha</td>
      <td>-25.17</td>
      <td>45.05</td>
      <td>80.19</td>
      <td>60</td>
      <td>0</td>
      <td>6.38</td>
      <td>MG</td>
      <td>1615268780</td>
    </tr>
    <tr>
      <th>527</th>
      <td>fukue</td>
      <td>32.69</td>
      <td>128.84</td>
      <td>55.40</td>
      <td>58</td>
      <td>75</td>
      <td>11.50</td>
      <td>JP</td>
      <td>1615268780</td>
    </tr>
    <tr>
      <th>528</th>
      <td>moron</td>
      <td>-34.65</td>
      <td>-58.62</td>
      <td>64.99</td>
      <td>84</td>
      <td>0</td>
      <td>5.01</td>
      <td>AR</td>
      <td>1615268780</td>
    </tr>
    <tr>
      <th>529</th>
      <td>hamilton</td>
      <td>39.18</td>
      <td>-84.53</td>
      <td>48.00</td>
      <td>49</td>
      <td>40</td>
      <td>5.75</td>
      <td>US</td>
      <td>1615268396</td>
    </tr>
    <tr>
      <th>530</th>
      <td>luebo</td>
      <td>-5.35</td>
      <td>21.42</td>
      <td>70.88</td>
      <td>89</td>
      <td>99</td>
      <td>1.52</td>
      <td>CD</td>
      <td>1615268781</td>
    </tr>
    <tr>
      <th>531</th>
      <td>anadyr</td>
      <td>64.75</td>
      <td>177.48</td>
      <td>-22.00</td>
      <td>69</td>
      <td>20</td>
      <td>6.71</td>
      <td>RU</td>
      <td>1615268781</td>
    </tr>
    <tr>
      <th>532</th>
      <td>steinbach</td>
      <td>50.17</td>
      <td>8.57</td>
      <td>41.00</td>
      <td>86</td>
      <td>20</td>
      <td>5.75</td>
      <td>DE</td>
      <td>1615268781</td>
    </tr>
    <tr>
      <th>533</th>
      <td>mednogorsk</td>
      <td>51.41</td>
      <td>57.60</td>
      <td>21.07</td>
      <td>97</td>
      <td>100</td>
      <td>13.87</td>
      <td>RU</td>
      <td>1615268781</td>
    </tr>
    <tr>
      <th>534</th>
      <td>wewak</td>
      <td>-3.55</td>
      <td>143.63</td>
      <td>82.63</td>
      <td>73</td>
      <td>100</td>
      <td>7.02</td>
      <td>PG</td>
      <td>1615268781</td>
    </tr>
    <tr>
      <th>535</th>
      <td>fiumicino</td>
      <td>41.77</td>
      <td>12.23</td>
      <td>50.00</td>
      <td>93</td>
      <td>75</td>
      <td>9.22</td>
      <td>IT</td>
      <td>1615268782</td>
    </tr>
    <tr>
      <th>536</th>
      <td>joue-les-tours</td>
      <td>47.35</td>
      <td>0.67</td>
      <td>32.00</td>
      <td>86</td>
      <td>42</td>
      <td>2.30</td>
      <td>FR</td>
      <td>1615268782</td>
    </tr>
    <tr>
      <th>537</th>
      <td>port macquarie</td>
      <td>-31.43</td>
      <td>152.92</td>
      <td>69.80</td>
      <td>78</td>
      <td>90</td>
      <td>11.50</td>
      <td>AU</td>
      <td>1615268604</td>
    </tr>
    <tr>
      <th>538</th>
      <td>khammam</td>
      <td>17.25</td>
      <td>80.15</td>
      <td>93.65</td>
      <td>28</td>
      <td>2</td>
      <td>10.29</td>
      <td>IN</td>
      <td>1615268782</td>
    </tr>
    <tr>
      <th>539</th>
      <td>kununurra</td>
      <td>-15.77</td>
      <td>128.73</td>
      <td>93.20</td>
      <td>59</td>
      <td>63</td>
      <td>5.75</td>
      <td>AU</td>
      <td>1615268782</td>
    </tr>
    <tr>
      <th>540</th>
      <td>ust-tsilma</td>
      <td>65.44</td>
      <td>52.15</td>
      <td>-18.02</td>
      <td>87</td>
      <td>99</td>
      <td>4.70</td>
      <td>RU</td>
      <td>1615268783</td>
    </tr>
    <tr>
      <th>541</th>
      <td>terre haute</td>
      <td>39.47</td>
      <td>-87.41</td>
      <td>51.01</td>
      <td>53</td>
      <td>1</td>
      <td>6.91</td>
      <td>US</td>
      <td>1615268783</td>
    </tr>
    <tr>
      <th>542</th>
      <td>chabahar</td>
      <td>25.29</td>
      <td>60.64</td>
      <td>75.09</td>
      <td>57</td>
      <td>0</td>
      <td>4.41</td>
      <td>IR</td>
      <td>1615268783</td>
    </tr>
    <tr>
      <th>543</th>
      <td>zhaotong</td>
      <td>27.32</td>
      <td>103.72</td>
      <td>56.82</td>
      <td>54</td>
      <td>91</td>
      <td>2.19</td>
      <td>CN</td>
      <td>1615268783</td>
    </tr>
    <tr>
      <th>544</th>
      <td>belyy yar</td>
      <td>53.60</td>
      <td>91.39</td>
      <td>35.60</td>
      <td>27</td>
      <td>0</td>
      <td>20.13</td>
      <td>RU</td>
      <td>1615268599</td>
    </tr>
    <tr>
      <th>545</th>
      <td>pestovo</td>
      <td>58.59</td>
      <td>35.80</td>
      <td>-7.24</td>
      <td>90</td>
      <td>77</td>
      <td>5.84</td>
      <td>RU</td>
      <td>1615268784</td>
    </tr>
    <tr>
      <th>546</th>
      <td>hovd</td>
      <td>48.01</td>
      <td>91.64</td>
      <td>43.72</td>
      <td>45</td>
      <td>39</td>
      <td>6.33</td>
      <td>MN</td>
      <td>1615268784</td>
    </tr>
    <tr>
      <th>547</th>
      <td>bay roberts</td>
      <td>47.60</td>
      <td>-53.26</td>
      <td>26.01</td>
      <td>76</td>
      <td>98</td>
      <td>3.00</td>
      <td>CA</td>
      <td>1615268784</td>
    </tr>
    <tr>
      <th>548</th>
      <td>bama</td>
      <td>11.52</td>
      <td>13.69</td>
      <td>67.75</td>
      <td>25</td>
      <td>0</td>
      <td>1.03</td>
      <td>NG</td>
      <td>1615268778</td>
    </tr>
    <tr>
      <th>549</th>
      <td>vila</td>
      <td>42.03</td>
      <td>-8.16</td>
      <td>33.01</td>
      <td>89</td>
      <td>9</td>
      <td>3.76</td>
      <td>PT</td>
      <td>1615268785</td>
    </tr>
    <tr>
      <th>550</th>
      <td>panacan</td>
      <td>9.25</td>
      <td>118.41</td>
      <td>87.80</td>
      <td>66</td>
      <td>20</td>
      <td>11.50</td>
      <td>PH</td>
      <td>1615268785</td>
    </tr>
    <tr>
      <th>551</th>
      <td>chimore</td>
      <td>-16.98</td>
      <td>-65.13</td>
      <td>69.80</td>
      <td>91</td>
      <td>94</td>
      <td>1.52</td>
      <td>BO</td>
      <td>1615268785</td>
    </tr>
    <tr>
      <th>552</th>
      <td>maralal</td>
      <td>1.10</td>
      <td>36.70</td>
      <td>68.88</td>
      <td>42</td>
      <td>36</td>
      <td>9.08</td>
      <td>KE</td>
      <td>1615268785</td>
    </tr>
    <tr>
      <th>553</th>
      <td>rognan</td>
      <td>67.10</td>
      <td>15.39</td>
      <td>26.01</td>
      <td>74</td>
      <td>20</td>
      <td>20.71</td>
      <td>NO</td>
      <td>1615268786</td>
    </tr>
    <tr>
      <th>554</th>
      <td>thinadhoo</td>
      <td>0.53</td>
      <td>72.93</td>
      <td>83.88</td>
      <td>66</td>
      <td>10</td>
      <td>4.79</td>
      <td>MV</td>
      <td>1615268660</td>
    </tr>
    <tr>
      <th>555</th>
      <td>killybegs</td>
      <td>54.63</td>
      <td>-8.45</td>
      <td>45.00</td>
      <td>94</td>
      <td>99</td>
      <td>7.00</td>
      <td>IE</td>
      <td>1615268786</td>
    </tr>
    <tr>
      <th>556</th>
      <td>tabligbo</td>
      <td>6.58</td>
      <td>1.50</td>
      <td>82.40</td>
      <td>83</td>
      <td>40</td>
      <td>6.91</td>
      <td>TG</td>
      <td>1615268786</td>
    </tr>
    <tr>
      <th>557</th>
      <td>devils lake</td>
      <td>48.11</td>
      <td>-98.87</td>
      <td>44.01</td>
      <td>81</td>
      <td>1</td>
      <td>11.50</td>
      <td>US</td>
      <td>1615268732</td>
    </tr>
    <tr>
      <th>558</th>
      <td>lucea</td>
      <td>18.45</td>
      <td>-78.17</td>
      <td>75.99</td>
      <td>83</td>
      <td>75</td>
      <td>13.80</td>
      <td>JM</td>
      <td>1615268786</td>
    </tr>
    <tr>
      <th>559</th>
      <td>urambo</td>
      <td>-5.07</td>
      <td>32.05</td>
      <td>68.18</td>
      <td>88</td>
      <td>100</td>
      <td>1.36</td>
      <td>TZ</td>
      <td>1615268787</td>
    </tr>
    <tr>
      <th>560</th>
      <td>davila</td>
      <td>18.47</td>
      <td>120.58</td>
      <td>87.80</td>
      <td>58</td>
      <td>20</td>
      <td>11.50</td>
      <td>PH</td>
      <td>1615268598</td>
    </tr>
    <tr>
      <th>561</th>
      <td>joensuu</td>
      <td>62.60</td>
      <td>29.76</td>
      <td>-11.20</td>
      <td>84</td>
      <td>0</td>
      <td>3.44</td>
      <td>FI</td>
      <td>1615268787</td>
    </tr>
    <tr>
      <th>562</th>
      <td>charcas</td>
      <td>23.13</td>
      <td>-101.12</td>
      <td>49.68</td>
      <td>85</td>
      <td>17</td>
      <td>9.42</td>
      <td>MX</td>
      <td>1615268787</td>
    </tr>
    <tr>
      <th>563</th>
      <td>navrongo</td>
      <td>10.90</td>
      <td>-1.09</td>
      <td>81.70</td>
      <td>42</td>
      <td>51</td>
      <td>6.15</td>
      <td>GH</td>
      <td>1615268588</td>
    </tr>
    <tr>
      <th>564</th>
      <td>kaka</td>
      <td>37.35</td>
      <td>59.61</td>
      <td>62.22</td>
      <td>32</td>
      <td>94</td>
      <td>1.86</td>
      <td>TM</td>
      <td>1615268787</td>
    </tr>
  </tbody>
</table>