In [121]:
# Import dependencies
import pandas as pd
import scipy.stats as st
from sqlalchemy import create_engine

In [123]:
pd.set_option('display.max_rows', None)

# Extract

In [124]:
# Data Files
degreesConferred_path="data/NCES/Degrees_Conferred.csv"
degrees1215_path="data/NCES/DegreesConferredTerritory1215.csv"
degrees1619_path="data/NCES/DegreesConferredTerritory1619.csv"
y2015_edu_path="data/US-Census-Bureau/2015_Education_Attainement.csv"
y2016_edu_path="data/US-Census-Bureau/2016_Education_Attainement.csv"
y2017_edu_path="data/US-Census-Bureau/2017_Education_Attainement.csv"
y2018_edu_path="data/US-Census-Bureau/2018_Education_Attainement.csv"
y2019_edu_path="data/US-Census-Bureau/2019_Education_Attainement.csv"

In [125]:
# Read data
degreesConferred=pd.read_csv(degreesConferred_path,encoding= 'unicode_escape',skiprows=1)
degrees1215=pd.read_csv(degrees1215_path, encoding= 'unicode_escape')
degrees1619=pd.read_csv(degrees1619_path, encoding= 'unicode_escape')
y2015_edu=pd.read_csv(y2015_edu_path, encoding= 'unicode_escape')
y2016_edu=pd.read_csv(y2016_edu_path, encoding= 'unicode_escape')
y2017_edu=pd.read_csv(y2017_edu_path, encoding= 'unicode_escape')
y2018_edu=pd.read_csv(y2018_edu_path, encoding= 'unicode_escape')
y2019_edu=pd.read_csv(y2019_edu_path, encoding= 'unicode_escape')

# Transform

### Degrees Granted and Split by Degree

In [4]:
# Display data
degreesConferred

,Year,Associate's degrees,Unnamed: 2,Unnamed: 3,Unnamed: 4,Bachelor's degrees,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Master's degrees,Unnamed: 13,Unnamed: 14,Unnamed: 15,Doctor's degrees\,Unnamed: 17,Unnamed: 18,Unnamed: 19
0,NaN,Total,Males,Females,Percent female,Total,NaN,Males,NaN,Females,NaN,Percent female,Total,Males,Females,Percent female,Total,Males,Females,Percent female
1,1,2,3,4,5,6,NaN,7,NaN,8,NaN,9,10,11,12,13,14,15,16,17
2,1869-70,---,---,---,---,"9,371",\,"7,993",\,"1,378",\,14.7,0,0,0,---,1,1,0,0.0
3,1879-80,---,---,---,---,"12,896",\,"10,411",\,"2,485",\,19.3,879,868,11,1.3,54,51,3,5.6
4,1889-90,---,---,---,---,"15,539",\,"12,857",\,"2,682",\,17.3,"1,015",821,194,19.1,149,147,2,1.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
176,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
177,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
178,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
179,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
180,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# Filter out unwanted years
degreesConferred=degreesConferred.loc[[0,47,48,49,50,51,52,53],:]
# degreesConferred=degreesConferred.set_index('Year')

In [6]:
# Rename Columns
dcColumns=degreesConferred.columns
dcColumns

Index(['Year', 'Associate's degrees', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Bachelor's degrees', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8',
       'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Master's degrees',
       'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Doctor's degrees\',
       'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19'],
      dtype='object')

In [7]:
dc=[c.replace("'","")for c in dcColumns]

In [8]:
dc2=[c.replace(" ","_")for c in dc]

In [9]:
dc3=[c.replace(":","")for c in dc2]

In [10]:
dc4=[c.replace("\x01\\","")for c in dc3]
dc4

['Year',
 'Associates_degrees',
 'Unnamed_2',
 'Unnamed_3',
 'Unnamed_4',
 'Bachelors_degrees',
 'Unnamed_6',
 'Unnamed_7',
 'Unnamed_8',
 'Unnamed_9',
 'Unnamed_10',
 'Unnamed_11',
 'Masters_degrees',
 'Unnamed_13',
 'Unnamed_14',
 'Unnamed_15',
 'Doctors_degrees',
 'Unnamed_17',
 'Unnamed_18',
 'Unnamed_19']

In [11]:
dcZip=zip(dcColumns,dc4)

In [12]:
next(dcZip)

('Year', 'Year')

In [13]:
dcR=dict(dcZip)

In [14]:
degreesConferred.rename(columns=dcR,inplace=True)

In [15]:
dConferred=pd.DataFrame(degreesConferred)
dConferred=dConferred.set_index('Year')

In [16]:
dConferred

,Associates_degrees,Unnamed_2,Unnamed_3,Unnamed_4,Bachelors_degrees,Unnamed_6,Unnamed_7,Unnamed_8,Unnamed_9,Unnamed_10,Unnamed_11,Masters_degrees,Unnamed_13,Unnamed_14,Unnamed_15,Doctors_degrees,Unnamed_17,Unnamed_18,Unnamed_19
Year,,,,,,,,,,,,,,,,,,,
NaN,Total,Males,Females,Percent female,Total,NaN,Males,NaN,Females,NaN,Percent female,Total,Males,Females,Percent female,Total,Males,Females,Percent female
2013-14,"1,005,155","391,474","613,681",61.1,"1,870,150",NaN,"801,905",NaN,"1,068,245",NaN,57.1,"754,582","302,846","451,736",59.9,"177,587","85,585","92,002",51.8
2014-15,"1,014,341","396,782","617,559",60.9,"1,894,969",NaN,"812,693",NaN,"1,082,276",NaN,57.1,"758,804","306,615","452,189",59.6,"178,548","84,922","93,626",52.4
2015-16,"1,008,228","392,084","616,144",61.1,"1,920,750",NaN,"821,746",NaN,"1,099,004",NaN,57.2,"785,757","320,574","465,183",59.2,"178,134","84,240","93,894",52.7
2016-17,"1,005,687","394,147","611,540",60.8,"1,956,114",NaN,"836,021",NaN,"1,120,093",NaN,57.3,"804,542","326,857","477,685",59.4,"181,357","84,649","96,708",53.3
2017-18,"1,011,487","398,600","612,887",60.6,"1,980,644",NaN,"844,960",NaN,"1,135,684",NaN,57.3,"820,102","326,870","493,232",60.1,"184,074","85,568","98,506",53.5
2018-19\,"977,000","381,000","596,000",61.0,"1,989,000",NaN,"843,000",NaN,"1,146,000",NaN,57.6,"829,000","326,000","502,000",60.6,"186,000","85,000","100,000",54.1
2019-20\,"981,000","382,000","599,000",61.0,"1,996,000",NaN,"846,000",NaN,"1,151,000",NaN,57.6,"832,000","327,000","505,000",60.7,"186,000","86,000","101,000",54.1

#### 2012 through 2015 Degrees by State

In [126]:
d1215C=degrees1215.iloc[0]
d1215C

ï»¿"Table 319.20. Degrees conferred by postsecondary institutions                State or jurisdiction
 by level of degree and state or jurisdiction: 2012-13 through 2014-15      "                   2012-13
Unnamed: 2                                                                                          NaN
Unnamed: 3                                                                                          NaN
Unnamed: 4                                                                                          NaN
Unnamed: 5                                                                                      2013-14
Unnamed: 6                                                                                          NaN
Unnamed: 7                                                                                          NaN
Unnamed: 8                                                                                          NaN
Unnamed: 9                                                                                      2014-15
Unnamed: 10                                                                                         NaN
Unnamed: 11                                                                                         NaN
Unnamed: 12                                                                                         NaN
Unnamed: 13                                                                                         NaN
Name: 0, dtype: object

In [127]:
degrees1215=degrees1215[1:]
degrees1215

,"ï»¿""Table 319.20. Degrees conferred by postsecondary institutions","by level of degree and state or jurisdiction: 2012-13 through 2014-15 """,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
1,NaN,Asso- ciate's degrees,Bachelor's degrees,Master's degrees,Doctor's de- grees\,Asso- ciate's degrees,Bachelor's degrees,Master's degrees,Doctor's de- grees\,Asso- ciate's degrees,Bachelor's degrees,Master's degrees,Doctor's de- grees\,NaN
2,1,2,3,4,5,6,7,8,9,10,11,12,13,NaN
3,United States .............,"1,007,427","1,840,381","751,718","175,026","1,005,155","1,870,150","754,582","177,587","1,013,971","1,894,934","758,708","178,547",NaN
4,Alabama ....................,"13,758","29,876","11,670","2,297","13,303","29,516","11,346","2,286","13,629","30,060","11,800","2,429",NaN
5,Alaska .........................,"1,758","1,895",724,54,"1,805","2,033",707,60,"1,715","1,932",703,49,NaN
6,Arizona .....................,"48,911","66,304","30,579","3,771","41,847","61,296","28,841","3,904","37,703","58,534","27,785","4,368",NaN
7,Arkansas ..................,"8,499","14,317","5,225",980,"8,868","15,489","4,896",985,"9,095","15,881","4,899",971,NaN
8,California .................,"120,550","180,529","69,257","18,761","129,962","199,274","74,541","18,319","133,533","201,116","74,626","18,307",NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Colorado ....................,"15,550","32,446","15,009","2,747","14,177","33,412","14,935","2,917","13,992","33,626","14,685","2,840",NaN
11,Connecticut ...............,"6,826","21,470","9,570","1,964","7,136","21,710","9,521","2,049","7,026","22,344","9,732","2,115",NaN
12,Delaware ..................,"2,072","6,230","2,753",558,"2,080","6,338","2,842",554,"2,039","6,895","3,112",541,NaN
13,District of Columbia ........,686,"9,299","10,995","3,621",766,"9,251","11,477","3,518",741,"9,272","11,439","3,384",NaN
14,Florida .........................,"100,877","94,505","32,945","9,029","96,332","97,004","34,077","9,113","94,688","100,521","33,360","9,210",NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Georgia ........................,"18,889","47,655","17,888","4,410","18,773","48,831","16,975","4,646","19,497","49,862","17,219","4,584",NaN
17,Hawaii .....................,"4,402","6,363","1,978",556,"5,448","6,915","2,075",506,"4,429","6,966","1,856",624,NaN
18,Idaho ........................,"5,762","10,336","2,049",398,"5,415","10,692","1,888",412,"5,152","10,886","1,957",387,NaN
19,Illinois ........................,"40,584","75,992","43,254","8,598","40,516","74,958","41,647","8,446","40,187","74,317","40,080","8,757",NaN
20,Indiana ....................,"18,838","46,551","14,663","3,475","17,775","46,927","14,357","3,537","17,243","48,082","14,099","3,648",NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Iowa ........................,"18,751","41,462","12,127","3,031","17,072","28,125","7,681","2,950","16,772","28,201","8,298","2,851",NaN
23,Kansas .....................,"10,647","19,622","6,625","1,474","11,799","20,274","7,387","1,460","12,043","20,081","7,344","1,698",NaN
24,Kentucky ........................,"13,853","21,872","9,860","1,951","13,621","22,268","9,507","2,026","13,055","22,608","9,314","2,095",NaN
25,Louisiana ...................,"7,150","22,334","7,552","2,532","7,240","22,539","7,348","2,495","7,146","22,247","7,332","2,509",NaN
26,Maine .....................,"3,167","7,335","1,935",489,"3,193","7,476","2,035",528,"3,211","7,418","2,046",540,NaN
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,Maryland ....................,"15,387","31,729","18,444","3,043","15,758","32,163","18,390","2,908","16,919","33,219","18,428","2,994",NaN
29,Massachusetts ..............,"13,742","57,134","35,438","8,289","14,123","58,712","36,035","8,321","14,356","59,625","35,958","8,409",NaN
30,Michigan .....................,"34,187","58,540","21,047","6,053","32,329","58,908","21,292","6,095","32,572","59,970","20,689","5,875",NaN
31,Minnesota ...................,"21,664","36,326","22,202","4,813","21,213","36,470","22,115","5,290","20,141","36,726","22,827","5,092",NaN
32,Mississippi ....................,"12,140","14,076","4,804","1,261","12,640","14,266","4,822","1,259","13,320","14,296","5,017","1,294",NaN
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,Missouri ........................,"19,821","40,963","20,577","4,682","18,567","40,810","20,561","4,751","18,831","41,161","21,313","4,797",NaN
35,Montana .....................,"2,296","5,644","1,280",395,"2,417","5,964","1,161",420,"2,477","6,156","1,300",458,NaN
36,Nebraska ....................,"5,944","14,119","5,008","1,495","5,752","14,485","4,874","1,503","5,712","14,080","5,228","1,583",NaN
37,Nevada ....................,"5,375","7,949","2,194",936,"5,732","8,056","2,148",922,"6,059","8,519","2,266","1,052",NaN
38,New Hampshire ..................,"2,824","9,769","3,878",501,"2,970","10,137","4,577",542,"3,034","11,832","5,775",497,NaN
39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,New Jersey .................,"21,647","40,295","14,267","2,335","22,510","41,394","15,399","3,170","23,154","42,016","15,773","3,021",NaN
41,New Mexico .................,"8,941","8,586","3,239",629,"8,648","8,956","3,262",644,"10,533","8,791","3,371",694,NaN
42,New York .......................,"68,104","132,614","70,407","15,332","68,572","134,820","71,573","15,019","68,302","136,396","70,767","14,524",NaN
43,North Carolina ..................,"28,591","51,782","17,301","4,824","29,234","52,602","18,376","5,005","31,876","52,889","17,237","4,835",NaN
44,North Dakota ................,"2,386","5,983","1,676",465,"2,405","6,168","1,825",467,"2,309","6,291","1,706",511,NaN
45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,Ohio .......................,"33,570","66,193","22,994","6,117","33,473","68,288","22,737","6,149","33,386","69,635","23,581","6,156",NaN
47,Oklahoma ....................,"12,405","20,047","6,497","1,658","12,606","20,654","6,616","1,657","13,047","20,730","6,532","1,626",NaN
48,Oregon ......................,"14,272","22,085","7,504","1,959","13,371","22,739","8,487","1,996","13,679","22,656","10,353","1,966",NaN
49,Pennsylvania ...............,"28,794","91,392","37,151","9,788","28,399","92,725","36,892","9,992","27,624","93,050","36,579","9,980",NaN
50,Rhode Island ..............,"3,727","11,079","2,654",742,"3,780","11,455","2,620",753,"3,606","11,730","2,571",724,NaN
51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,South Carolina .............,"11,628","24,004","6,120","1,741","11,885","24,351","5,878","1,866","11,767","24,823","5,990","1,890",NaN
53,South Dakota ....................,"2,610","5,641","1,512",335,"2,696","5,676","1,336",395,"2,479","5,638","1,538",407,NaN
54,Tennessee ......................,"13,230","33,766","11,946","3,298","13,007","34,134","12,125","3,493","12,822","34,197","11,807","3,661",NaN
55,Texas ...........................,"68,898","115,114","46,464","10,426","72,894","118,975","46,362","10,810","79,401","122,165","48,762","10,987",NaN
56,Utah ...........................,"13,021","28,597","8,412","1,247","13,609","29,848","9,565","1,271","12,982","32,160","9,982","1,237",NaN
57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,Vermont ....................,"1,280","6,206","3,191",434,"1,222","6,221","2,295",358,"1,156","6,160","2,311",394,NaN
59,Virginia ....................,"25,789","54,749","22,782","5,193","25,191","55,794","23,844","5,349","25,554","56,878","23,790","5,365",NaN
60,Washington ..................,"29,281","32,689","9,519","2,601","29,064","32,506","9,292","2,558","29,998","33,309","9,498","2,584",NaN
61,West Virginia ..................,"5,411","14,357","6,409","1,032","5,914","15,525","6,806","1,009","6,497","15,997","6,524","1,055",NaN
62,Wisconsin .......................,"15,807","36,927","9,653","2,507","14,901","37,346","8,755","2,682","14,510","37,555","9,082","2,750",NaN
63,Wyoming ...................,"3,125","2,057",486,199,"3,145","2,012",476,222,"2,972","2,026",463,222,NaN
64,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65,U.S. Service Academies ....,0,"3,576",4,0,0,"3,662",3,0,0,"3,409",4,0,NaN
66,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67,Other jurisdictions ............,"8,293","20,870","5,224","1,471","9,194","21,127","5,321","1,462","10,278","21,195","5,272","1,420",NaN
68,American Samoa ..............,235,5,0,0,228,3,0,0,245,8,0,0,NaN
69,Federated States of\n Micronesia ........,293,0,0,0,267,0,0,0,302,0,0,0,NaN
70,Guam ............................,137,395,113,0,155,424,106,0,217,457,112,0,NaN
71,Marshall Islands ................,79,0,0,0,106,0,0,0,102,0,0,0,NaN
72,Northern Marianas ............,133,29,0,0,123,35,0,0,125,26,0,0,NaN
73,Palau ...........................,99,0,0,0,88,0,0,0,86,0,0,0,NaN
74,Puerto Rico ..................,"7,252","20,230","5,055","1,471","8,169","20,451","5,165","1,462","9,143","20,519","5,109","1,420",NaN
75,U.S. Virgin Islands ...............,65,211,56,0,58,214,50,0,58,185,51,0,NaN
76,"\Includes Ph.D., Ed.D., and comparable degree...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77,NOTE: Data are for postsecondary institutions ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78,"SOURCE: U.S. Department of Education, National...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
106,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
107,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
109,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
110,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
111,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
112,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
113,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
114,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
115,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
116,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
117,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
118,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
121,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
122,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
123,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
124,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
125,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
126,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
127,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
128,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
129,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
130,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
131,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
132,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
133,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
134,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
135,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
136,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
137,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
139,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
140,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
141,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
142,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
143,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
144,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
145,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
146,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
147,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
148,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
149,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
150,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
151,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
152,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
153,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
154,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
155,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
156,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
157,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
158,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
159,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
160,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
161,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
162,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
163,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
164,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
165,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
166,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
167,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
168,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
169,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
170,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
171,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
172,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
173,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
174,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
175,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
176,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
177,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
178,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
179,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
180,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
181,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
183,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
184,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
185,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
186,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
187,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
188,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
189,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
190,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
191,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
192,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
193,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
194,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
195,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
196,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
197,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
198,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
201,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
202,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
203,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
204,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
205,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
206,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
207,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
208,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
209,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
210,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
211,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
212,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
213,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
214,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
215,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
216,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
217,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
218,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
219,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
220,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
221,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
222,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
223,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
224,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
225,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
226,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
227,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
228,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
229,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
230,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
231,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
232,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
233,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
234,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
235,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
236,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
237,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
238,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
239,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
240,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
241,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
242,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
243,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
244,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
245,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
246,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
247,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
248,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
249,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
250,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
251,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
252,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
253,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [130]:
degrees1215.columns=d1215C
degrees1215

,State or jurisdiction,2012-13,NaN,NaN,NaN,2013-14,NaN,NaN,NaN,2014-15,NaN,NaN,NaN,NaN
1,NaN,Asso- ciate's degrees,Bachelor's degrees,Master's degrees,Doctor's de- grees\,Asso- ciate's degrees,Bachelor's degrees,Master's degrees,Doctor's de- grees\,Asso- ciate's degrees,Bachelor's degrees,Master's degrees,Doctor's de- grees\,NaN
2,1,2,3,4,5,6,7,8,9,10,11,12,13,NaN
3,United States .............,"1,007,427","1,840,381","751,718","175,026","1,005,155","1,870,150","754,582","177,587","1,013,971","1,894,934","758,708","178,547",NaN
4,Alabama ....................,"13,758","29,876","11,670","2,297","13,303","29,516","11,346","2,286","13,629","30,060","11,800","2,429",NaN
5,Alaska .........................,"1,758","1,895",724,54,"1,805","2,033",707,60,"1,715","1,932",703,49,NaN
6,Arizona .....................,"48,911","66,304","30,579","3,771","41,847","61,296","28,841","3,904","37,703","58,534","27,785","4,368",NaN
7,Arkansas ..................,"8,499","14,317","5,225",980,"8,868","15,489","4,896",985,"9,095","15,881","4,899",971,NaN
8,California .................,"120,550","180,529","69,257","18,761","129,962","199,274","74,541","18,319","133,533","201,116","74,626","18,307",NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Colorado ....................,"15,550","32,446","15,009","2,747","14,177","33,412","14,935","2,917","13,992","33,626","14,685","2,840",NaN
11,Connecticut ...............,"6,826","21,470","9,570","1,964","7,136","21,710","9,521","2,049","7,026","22,344","9,732","2,115",NaN
12,Delaware ..................,"2,072","6,230","2,753",558,"2,080","6,338","2,842",554,"2,039","6,895","3,112",541,NaN
13,District of Columbia ........,686,"9,299","10,995","3,621",766,"9,251","11,477","3,518",741,"9,272","11,439","3,384",NaN
14,Florida .........................,"100,877","94,505","32,945","9,029","96,332","97,004","34,077","9,113","94,688","100,521","33,360","9,210",NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Georgia ........................,"18,889","47,655","17,888","4,410","18,773","48,831","16,975","4,646","19,497","49,862","17,219","4,584",NaN
17,Hawaii .....................,"4,402","6,363","1,978",556,"5,448","6,915","2,075",506,"4,429","6,966","1,856",624,NaN
18,Idaho ........................,"5,762","10,336","2,049",398,"5,415","10,692","1,888",412,"5,152","10,886","1,957",387,NaN
19,Illinois ........................,"40,584","75,992","43,254","8,598","40,516","74,958","41,647","8,446","40,187","74,317","40,080","8,757",NaN
20,Indiana ....................,"18,838","46,551","14,663","3,475","17,775","46,927","14,357","3,537","17,243","48,082","14,099","3,648",NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Iowa ........................,"18,751","41,462","12,127","3,031","17,072","28,125","7,681","2,950","16,772","28,201","8,298","2,851",NaN
23,Kansas .....................,"10,647","19,622","6,625","1,474","11,799","20,274","7,387","1,460","12,043","20,081","7,344","1,698",NaN
24,Kentucky ........................,"13,853","21,872","9,860","1,951","13,621","22,268","9,507","2,026","13,055","22,608","9,314","2,095",NaN
25,Louisiana ...................,"7,150","22,334","7,552","2,532","7,240","22,539","7,348","2,495","7,146","22,247","7,332","2,509",NaN
26,Maine .....................,"3,167","7,335","1,935",489,"3,193","7,476","2,035",528,"3,211","7,418","2,046",540,NaN
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,Maryland ....................,"15,387","31,729","18,444","3,043","15,758","32,163","18,390","2,908","16,919","33,219","18,428","2,994",NaN
29,Massachusetts ..............,"13,742","57,134","35,438","8,289","14,123","58,712","36,035","8,321","14,356","59,625","35,958","8,409",NaN
30,Michigan .....................,"34,187","58,540","21,047","6,053","32,329","58,908","21,292","6,095","32,572","59,970","20,689","5,875",NaN
31,Minnesota ...................,"21,664","36,326","22,202","4,813","21,213","36,470","22,115","5,290","20,141","36,726","22,827","5,092",NaN
32,Mississippi ....................,"12,140","14,076","4,804","1,261","12,640","14,266","4,822","1,259","13,320","14,296","5,017","1,294",NaN
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,Missouri ........................,"19,821","40,963","20,577","4,682","18,567","40,810","20,561","4,751","18,831","41,161","21,313","4,797",NaN
35,Montana .....................,"2,296","5,644","1,280",395,"2,417","5,964","1,161",420,"2,477","6,156","1,300",458,NaN
36,Nebraska ....................,"5,944","14,119","5,008","1,495","5,752","14,485","4,874","1,503","5,712","14,080","5,228","1,583",NaN
37,Nevada ....................,"5,375","7,949","2,194",936,"5,732","8,056","2,148",922,"6,059","8,519","2,266","1,052",NaN
38,New Hampshire ..................,"2,824","9,769","3,878",501,"2,970","10,137","4,577",542,"3,034","11,832","5,775",497,NaN
39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,New Jersey .................,"21,647","40,295","14,267","2,335","22,510","41,394","15,399","3,170","23,154","42,016","15,773","3,021",NaN
41,New Mexico .................,"8,941","8,586","3,239",629,"8,648","8,956","3,262",644,"10,533","8,791","3,371",694,NaN
42,New York .......................,"68,104","132,614","70,407","15,332","68,572","134,820","71,573","15,019","68,302","136,396","70,767","14,524",NaN
43,North Carolina ..................,"28,591","51,782","17,301","4,824","29,234","52,602","18,376","5,005","31,876","52,889","17,237","4,835",NaN
44,North Dakota ................,"2,386","5,983","1,676",465,"2,405","6,168","1,825",467,"2,309","6,291","1,706",511,NaN
45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,Ohio .......................,"33,570","66,193","22,994","6,117","33,473","68,288","22,737","6,149","33,386","69,635","23,581","6,156",NaN
47,Oklahoma ....................,"12,405","20,047","6,497","1,658","12,606","20,654","6,616","1,657","13,047","20,730","6,532","1,626",NaN
48,Oregon ......................,"14,272","22,085","7,504","1,959","13,371","22,739","8,487","1,996","13,679","22,656","10,353","1,966",NaN
49,Pennsylvania ...............,"28,794","91,392","37,151","9,788","28,399","92,725","36,892","9,992","27,624","93,050","36,579","9,980",NaN
50,Rhode Island ..............,"3,727","11,079","2,654",742,"3,780","11,455","2,620",753,"3,606","11,730","2,571",724,NaN
51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,South Carolina .............,"11,628","24,004","6,120","1,741","11,885","24,351","5,878","1,866","11,767","24,823","5,990","1,890",NaN
53,South Dakota ....................,"2,610","5,641","1,512",335,"2,696","5,676","1,336",395,"2,479","5,638","1,538",407,NaN
54,Tennessee ......................,"13,230","33,766","11,946","3,298","13,007","34,134","12,125","3,493","12,822","34,197","11,807","3,661",NaN
55,Texas ...........................,"68,898","115,114","46,464","10,426","72,894","118,975","46,362","10,810","79,401","122,165","48,762","10,987",NaN
56,Utah ...........................,"13,021","28,597","8,412","1,247","13,609","29,848","9,565","1,271","12,982","32,160","9,982","1,237",NaN
57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,Vermont ....................,"1,280","6,206","3,191",434,"1,222","6,221","2,295",358,"1,156","6,160","2,311",394,NaN
59,Virginia ....................,"25,789","54,749","22,782","5,193","25,191","55,794","23,844","5,349","25,554","56,878","23,790","5,365",NaN
60,Washington ..................,"29,281","32,689","9,519","2,601","29,064","32,506","9,292","2,558","29,998","33,309","9,498","2,584",NaN
61,West Virginia ..................,"5,411","14,357","6,409","1,032","5,914","15,525","6,806","1,009","6,497","15,997","6,524","1,055",NaN
62,Wisconsin .......................,"15,807","36,927","9,653","2,507","14,901","37,346","8,755","2,682","14,510","37,555","9,082","2,750",NaN
63,Wyoming ...................,"3,125","2,057",486,199,"3,145","2,012",476,222,"2,972","2,026",463,222,NaN
64,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65,U.S. Service Academies ....,0,"3,576",4,0,0,"3,662",3,0,0,"3,409",4,0,NaN
66,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67,Other jurisdictions ............,"8,293","20,870","5,224","1,471","9,194","21,127","5,321","1,462","10,278","21,195","5,272","1,420",NaN
68,American Samoa ..............,235,5,0,0,228,3,0,0,245,8,0,0,NaN
69,Federated States of\n Micronesia ........,293,0,0,0,267,0,0,0,302,0,0,0,NaN
70,Guam ............................,137,395,113,0,155,424,106,0,217,457,112,0,NaN
71,Marshall Islands ................,79,0,0,0,106,0,0,0,102,0,0,0,NaN
72,Northern Marianas ............,133,29,0,0,123,35,0,0,125,26,0,0,NaN
73,Palau ...........................,99,0,0,0,88,0,0,0,86,0,0,0,NaN
74,Puerto Rico ..................,"7,252","20,230","5,055","1,471","8,169","20,451","5,165","1,462","9,143","20,519","5,109","1,420",NaN
75,U.S. Virgin Islands ...............,65,211,56,0,58,214,50,0,58,185,51,0,NaN

In [152]:
degrees1215=degrees1215.loc[1:75]
degrees1215

,State or jurisdiction,2012-13,NaN,NaN,NaN,2013-14,NaN,NaN,NaN,2014-15,NaN,NaN,NaN,NaN
1,NaN,Asso- ciate's degrees,Bachelor's degrees,Master's degrees,Doctor's de- grees\,Asso- ciate's degrees,Bachelor's degrees,Master's degrees,Doctor's de- grees\,Asso- ciate's degrees,Bachelor's degrees,Master's degrees,Doctor's de- grees\,NaN
2,1,2,3,4,5,6,7,8,9,10,11,12,13,NaN
3,United States .............,"1,007,427","1,840,381","751,718","175,026","1,005,155","1,870,150","754,582","177,587","1,013,971","1,894,934","758,708","178,547",NaN
4,Alabama ....................,"13,758","29,876","11,670","2,297","13,303","29,516","11,346","2,286","13,629","30,060","11,800","2,429",NaN
5,Alaska .........................,"1,758","1,895",724,54,"1,805","2,033",707,60,"1,715","1,932",703,49,NaN
6,Arizona .....................,"48,911","66,304","30,579","3,771","41,847","61,296","28,841","3,904","37,703","58,534","27,785","4,368",NaN
7,Arkansas ..................,"8,499","14,317","5,225",980,"8,868","15,489","4,896",985,"9,095","15,881","4,899",971,NaN
8,California .................,"120,550","180,529","69,257","18,761","129,962","199,274","74,541","18,319","133,533","201,116","74,626","18,307",NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Colorado ....................,"15,550","32,446","15,009","2,747","14,177","33,412","14,935","2,917","13,992","33,626","14,685","2,840",NaN
11,Connecticut ...............,"6,826","21,470","9,570","1,964","7,136","21,710","9,521","2,049","7,026","22,344","9,732","2,115",NaN
12,Delaware ..................,"2,072","6,230","2,753",558,"2,080","6,338","2,842",554,"2,039","6,895","3,112",541,NaN
13,District of Columbia ........,686,"9,299","10,995","3,621",766,"9,251","11,477","3,518",741,"9,272","11,439","3,384",NaN
14,Florida .........................,"100,877","94,505","32,945","9,029","96,332","97,004","34,077","9,113","94,688","100,521","33,360","9,210",NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Georgia ........................,"18,889","47,655","17,888","4,410","18,773","48,831","16,975","4,646","19,497","49,862","17,219","4,584",NaN
17,Hawaii .....................,"4,402","6,363","1,978",556,"5,448","6,915","2,075",506,"4,429","6,966","1,856",624,NaN
18,Idaho ........................,"5,762","10,336","2,049",398,"5,415","10,692","1,888",412,"5,152","10,886","1,957",387,NaN
19,Illinois ........................,"40,584","75,992","43,254","8,598","40,516","74,958","41,647","8,446","40,187","74,317","40,080","8,757",NaN
20,Indiana ....................,"18,838","46,551","14,663","3,475","17,775","46,927","14,357","3,537","17,243","48,082","14,099","3,648",NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Iowa ........................,"18,751","41,462","12,127","3,031","17,072","28,125","7,681","2,950","16,772","28,201","8,298","2,851",NaN
23,Kansas .....................,"10,647","19,622","6,625","1,474","11,799","20,274","7,387","1,460","12,043","20,081","7,344","1,698",NaN
24,Kentucky ........................,"13,853","21,872","9,860","1,951","13,621","22,268","9,507","2,026","13,055","22,608","9,314","2,095",NaN
25,Louisiana ...................,"7,150","22,334","7,552","2,532","7,240","22,539","7,348","2,495","7,146","22,247","7,332","2,509",NaN
26,Maine .....................,"3,167","7,335","1,935",489,"3,193","7,476","2,035",528,"3,211","7,418","2,046",540,NaN
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,Maryland ....................,"15,387","31,729","18,444","3,043","15,758","32,163","18,390","2,908","16,919","33,219","18,428","2,994",NaN
29,Massachusetts ..............,"13,742","57,134","35,438","8,289","14,123","58,712","36,035","8,321","14,356","59,625","35,958","8,409",NaN
30,Michigan .....................,"34,187","58,540","21,047","6,053","32,329","58,908","21,292","6,095","32,572","59,970","20,689","5,875",NaN
31,Minnesota ...................,"21,664","36,326","22,202","4,813","21,213","36,470","22,115","5,290","20,141","36,726","22,827","5,092",NaN
32,Mississippi ....................,"12,140","14,076","4,804","1,261","12,640","14,266","4,822","1,259","13,320","14,296","5,017","1,294",NaN
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,Missouri ........................,"19,821","40,963","20,577","4,682","18,567","40,810","20,561","4,751","18,831","41,161","21,313","4,797",NaN
35,Montana .....................,"2,296","5,644","1,280",395,"2,417","5,964","1,161",420,"2,477","6,156","1,300",458,NaN
36,Nebraska ....................,"5,944","14,119","5,008","1,495","5,752","14,485","4,874","1,503","5,712","14,080","5,228","1,583",NaN
37,Nevada ....................,"5,375","7,949","2,194",936,"5,732","8,056","2,148",922,"6,059","8,519","2,266","1,052",NaN
38,New Hampshire ..................,"2,824","9,769","3,878",501,"2,970","10,137","4,577",542,"3,034","11,832","5,775",497,NaN
39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,New Jersey .................,"21,647","40,295","14,267","2,335","22,510","41,394","15,399","3,170","23,154","42,016","15,773","3,021",NaN
41,New Mexico .................,"8,941","8,586","3,239",629,"8,648","8,956","3,262",644,"10,533","8,791","3,371",694,NaN
42,New York .......................,"68,104","132,614","70,407","15,332","68,572","134,820","71,573","15,019","68,302","136,396","70,767","14,524",NaN
43,North Carolina ..................,"28,591","51,782","17,301","4,824","29,234","52,602","18,376","5,005","31,876","52,889","17,237","4,835",NaN
44,North Dakota ................,"2,386","5,983","1,676",465,"2,405","6,168","1,825",467,"2,309","6,291","1,706",511,NaN
45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,Ohio .......................,"33,570","66,193","22,994","6,117","33,473","68,288","22,737","6,149","33,386","69,635","23,581","6,156",NaN
47,Oklahoma ....................,"12,405","20,047","6,497","1,658","12,606","20,654","6,616","1,657","13,047","20,730","6,532","1,626",NaN
48,Oregon ......................,"14,272","22,085","7,504","1,959","13,371","22,739","8,487","1,996","13,679","22,656","10,353","1,966",NaN
49,Pennsylvania ...............,"28,794","91,392","37,151","9,788","28,399","92,725","36,892","9,992","27,624","93,050","36,579","9,980",NaN
50,Rhode Island ..............,"3,727","11,079","2,654",742,"3,780","11,455","2,620",753,"3,606","11,730","2,571",724,NaN
51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,South Carolina .............,"11,628","24,004","6,120","1,741","11,885","24,351","5,878","1,866","11,767","24,823","5,990","1,890",NaN
53,South Dakota ....................,"2,610","5,641","1,512",335,"2,696","5,676","1,336",395,"2,479","5,638","1,538",407,NaN
54,Tennessee ......................,"13,230","33,766","11,946","3,298","13,007","34,134","12,125","3,493","12,822","34,197","11,807","3,661",NaN
55,Texas ...........................,"68,898","115,114","46,464","10,426","72,894","118,975","46,362","10,810","79,401","122,165","48,762","10,987",NaN
56,Utah ...........................,"13,021","28,597","8,412","1,247","13,609","29,848","9,565","1,271","12,982","32,160","9,982","1,237",NaN
57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,Vermont ....................,"1,280","6,206","3,191",434,"1,222","6,221","2,295",358,"1,156","6,160","2,311",394,NaN
59,Virginia ....................,"25,789","54,749","22,782","5,193","25,191","55,794","23,844","5,349","25,554","56,878","23,790","5,365",NaN
60,Washington ..................,"29,281","32,689","9,519","2,601","29,064","32,506","9,292","2,558","29,998","33,309","9,498","2,584",NaN
61,West Virginia ..................,"5,411","14,357","6,409","1,032","5,914","15,525","6,806","1,009","6,497","15,997","6,524","1,055",NaN
62,Wisconsin .......................,"15,807","36,927","9,653","2,507","14,901","37,346","8,755","2,682","14,510","37,555","9,082","2,750",NaN
63,Wyoming ...................,"3,125","2,057",486,199,"3,145","2,012",476,222,"2,972","2,026",463,222,NaN
64,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65,U.S. Service Academies ....,0,"3,576",4,0,0,"3,662",3,0,0,"3,409",4,0,NaN
66,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67,Other jurisdictions ............,"8,293","20,870","5,224","1,471","9,194","21,127","5,321","1,462","10,278","21,195","5,272","1,420",NaN
68,American Samoa ..............,235,5,0,0,228,3,0,0,245,8,0,0,NaN
69,Federated States of\n Micronesia ........,293,0,0,0,267,0,0,0,302,0,0,0,NaN
70,Guam ............................,137,395,113,0,155,424,106,0,217,457,112,0,NaN
71,Marshall Islands ................,79,0,0,0,106,0,0,0,102,0,0,0,NaN
72,Northern Marianas ............,133,29,0,0,123,35,0,0,125,26,0,0,NaN
73,Palau ...........................,99,0,0,0,88,0,0,0,86,0,0,0,NaN
74,Puerto Rico ..................,"7,252","20,230","5,055","1,471","8,169","20,451","5,165","1,462","9,143","20,519","5,109","1,420",NaN
75,U.S. Virgin Islands ...............,65,211,56,0,58,214,50,0,58,185,51,0,NaN

In [156]:
D1215C=degrees1215.columns

In [157]:
D1215=[c.replace("                            nan","-")for c in D1215C]

AttributeError: 'float' object has no attribute 'replace'

In [150]:
d1213C=['State of Jurisdiction','2012-13','-','-','-','2013-14','-','-','-','2014-15','-','-','-']

In [142]:
cTitles=['Associates Degree','Bachelors Degree','Masters Degree','Doctorate Degree']

#### Associates Degrees

In [21]:
columnTitle=['Total','Males','Females','Percent female']

In [139]:
associates = dConferred[['Associates_degrees', 'Unnamed_2', 'Unnamed_3', 'Unnamed_4']].copy()
aDegreeC=associates.columns

In [23]:
aZip=zip(aDegreeC,columnTitle)

In [24]:
next(aZip)

('Associates_degrees', 'Total')

In [25]:
aDegreeR=dict(aZip)

In [26]:
associates.rename(columns=aDegreeR,inplace=True)

In [27]:
associates.to_csv('data/Clean_Data/associates.csv')
associates

           Associates_degrees    Males  Females  Percent female
Year
NaN                     Total    Males  Females  Percent female
2013-14             1,005,155  391,474  613,681            61.1
2014-15             1,014,341  396,782  617,559            60.9
2015-16             1,008,228  392,084  616,144            61.1
2016-17             1,005,687  394,147  611,540            60.8
2017-18             1,011,487  398,600  612,887            60.6
2018-19\             977,000  381,000  596,000            61.0
2019-20\             981,000  382,000  599,000            61.0

#### Bachelors Degrees

In [28]:
bachelors= dConferred[['Bachelors_degrees', 'Unnamed_7', 'Unnamed_9', 'Unnamed_11']].copy()
bDegreeC=bachelors.columns

In [29]:
bZip=zip(bDegreeC,columnTitle)

In [30]:
next(bZip)

('Bachelors_degrees', 'Total')

In [31]:
bDegreeR=dict(bZip)

In [32]:
bachelors.rename(columns=bDegreeR,inplace=True)

In [33]:
bachelors.to_csv('data/Clean_Data/bachelors.csv')
bachelors

           Bachelors_degrees    Males    Females  Percent female
Year
NaN                    Total    Males    Females  Percent female
2013-14            1,870,150  801,905  1,068,245            57.1
2014-15            1,894,969  812,693  1,082,276            57.1
2015-16            1,920,750  821,746  1,099,004            57.2
2016-17            1,956,114  836,021  1,120,093            57.3
2017-18            1,980,644  844,960  1,135,684            57.3
2018-19\          1,989,000  843,000  1,146,000            57.6
2019-20\          1,996,000  846,000  1,151,000            57.6

#### Masters Degrees

In [34]:
masters = dConferred[['Masters_degrees', 'Unnamed_13','Unnamed_14', 'Unnamed_15']].copy()
mDegreeC=masters.columns

In [35]:
mZip=zip(mDegreeC,columnTitle)

In [36]:
next(mZip)

('Masters_degrees', 'Total')

In [37]:
mDegreeR=dict(mZip)

In [38]:
masters.rename(columns=mDegreeR,inplace=True)

In [39]:
masters.to_csv('data/Clean_Data/masters.csv')
masters

           Masters_degrees    Males  Females  Percent female
Year
NaN                  Total    Males  Females  Percent female
2013-14            754,582  302,846  451,736            59.9
2014-15            758,804  306,615  452,189            59.6
2015-16            785,757  320,574  465,183            59.2
2016-17            804,542  326,857  477,685            59.4
2017-18            820,102  326,870  493,232            60.1
2018-19\          829,000  326,000  502,000            60.6
2019-20\          832,000  327,000  505,000            60.7

#### Doctorate Degrees

In [40]:
doctorate = dConferred[['Doctors_degrees', 'Unnamed_17','Unnamed_18', 'Unnamed_19']].copy()
dDegreeC=doctorate.columns

In [41]:
dZip=zip(dDegreeC,columnTitle)

In [42]:
next(dZip)

('Doctors_degrees', 'Total')

In [43]:
dDegreeR=dict(dZip)

In [44]:
doctorate.rename(columns=dDegreeR,inplace=True)

In [45]:
doctorate.to_csv('data/Clean_Data/doctorate.csv')
doctorate

           Doctors_degrees   Males  Females  Percent female
Year
NaN                  Total   Males  Females  Percent female
2013-14            177,587  85,585   92,002            51.8
2014-15            178,548  84,922   93,626            52.4
2015-16            178,134  84,240   93,894            52.7
2016-17            181,357  84,649   96,708            53.3
2017-18            184,074  85,568   98,506            53.5
2018-19\          186,000  85,000  100,000            54.1
2019-20\          186,000  86,000  101,000            54.1

### 2015 Data Cleanup

In [46]:
# Display read_csv data
y2015_edu

,Label,United States!!Total!!Estimate,United States!!Percent!!Estimate,United States!!Males!!Estimate,United States!!Percent Males!!Estimate,United States!!Females!!Estimate,United States!!Percent Females!!Estimate
0,AGE BY EDUCATIONAL ATTAINMENT,NaN,NaN,NaN,NaN,NaN,NaN
1,Population 18 to 24 years,"31,341,948",(X),"16,065,032",(X),"15,276,916",(X)
2,Less than high school graduate,"4,231,896",13.50%,"2,478,913",15.40%,"1,752,983",11.50%
3,High school graduate (includes equivalency),"9,539,682",30.40%,"5,371,473",33.40%,"4,168,209",27.30%
4,Some college or associate's degree,"14,353,301",45.80%,"6,873,962",42.80%,"7,479,339",49%
...,...,...,...,...,...,...,...
63,Less than high school graduate,"21,320",(X),"25,159",(X),"16,151",(X)
64,High school graduate (includes equival...,"29,004",(X),"34,472",(X),"22,461",(X)
65,Some college or associate's degree,"34,377",(X),"41,582",(X),"28,643",(X)
66,Bachelor's degree,"50,930",(X),"61,780",(X),"41,952",(X)
67,Graduate or professional degree,"67,286",(X),"85,202",(X),"56,726",(X)

In [47]:
# Rename columns
y15_columns=y2015_edu.columns
y15_columns

Index(['Label', 'United States!!Total!!Estimate',
       'United States!!Percent!!Estimate', 'United States!!Males!!Estimate',
       'United States!!Percent Males!!Estimate',
       'United States!!Females!!Estimate',
       'United States!!Percent Females!!Estimate'],
      dtype='object')

In [48]:
y15=[c.replace("!!","_")for c in y15_columns]
y15

['Label',
 'United States_Total_Estimate',
 'United States_Percent_Estimate',
 'United States_Males_Estimate',
 'United States_Percent Males_Estimate',
 'United States_Females_Estimate',
 'United States_Percent Females_Estimate']

In [49]:
y15=[c.replace(" ","_")for c in y15]
y15

['Label',
 'United_States_Total_Estimate',
 'United_States_Percent_Estimate',
 'United_States_Males_Estimate',
 'United_States_Percent_Males_Estimate',
 'United_States_Females_Estimate',
 'United_States_Percent_Females_Estimate']

In [50]:
#Replace columns
y15_zip=zip(y15_columns,y15)

In [51]:
next(y15_zip)

('Label', 'Label')

In [52]:
y15r=dict(y15_zip)
y15r

{'United States!!Total!!Estimate': 'United_States_Total_Estimate',
 'United States!!Percent!!Estimate': 'United_States_Percent_Estimate',
 'United States!!Males!!Estimate': 'United_States_Males_Estimate',
 'United States!!Percent Males!!Estimate': 'United_States_Percent_Males_Estimate',
 'United States!!Females!!Estimate': 'United_States_Females_Estimate',
 'United States!!Percent Females!!Estimate': 'United_States_Percent_Females_Estimate'}

In [53]:
y2015_edu.rename(columns=y15r,inplace=True)

In [54]:
# Create pd.DataFrame
y2015=pd.DataFrame(y2015_edu)

In [55]:
# Drop unnecessary columns
y2015=y2015.drop(['United_States_Percent_Estimate','United_States_Percent_Males_Estimate',
                  'United_States_Percent_Females_Estimate'],axis=1)

In [56]:
# Pull wanted rows
y2015=y2015.loc[[1,2,3,4,5,6,7,8,9,10,11,12,13],:]
y2015=y2015.set_index("Label")

In [57]:
# Save to CSV as cleaned data
y2015.to_csv('data/Clean_Data/y2015.csv')
y2015

,United_States_Total_Estimate,United_States_Males_Estimate,United_States_Females_Estimate
Label,,,
Population 18 to 24 years,"31,341,948","16,065,032","15,276,916"
Less than high school graduate,"4,231,896","2,478,913","1,752,983"
High school graduate (includes equivalency),"9,539,682","5,371,473","4,168,209"
Some college or associate's degree,"14,353,301","6,873,962","7,479,339"
Bachelor's degree or higher,"3,217,069","1,340,684","1,876,385"
Population 25 years and over,"216,447,163","104,477,394","111,969,769"
Less than 9th grade,"11,988,039","5,942,569","6,045,470"
"9th to 12th grade, no diploma","15,838,087","8,238,447","7,599,640"
High school graduate (includes equivalency),"59,662,981","29,620,517","30,042,464"
"Some college, no degree","44,909,753","21,375,190","23,534,563"
Associate's degree,"17,806,750","7,652,143","10,154,607"
Bachelor's degree,"41,152,388","19,615,278","21,537,110"
Graduate or professional degree,"25,089,165","12,033,250","13,055,915"

### 2016 Data Cleanup

In [58]:
y2016_edu

,Label,United States!!Total!!Estimate,United States!!Percent!!Estimate,United States!!Males!!Estimate,United States!!Percent Males!!Estimate,United States!!Females!!Estimate,United States!!Percent Females!!Estimate
0,AGE BY EDUCATIONAL ATTAINMENT,NaN,NaN,NaN,NaN,NaN,NaN
1,Population 18 to 24 years,"31,014,292",(X),"15,916,664",(X),"15,097,628",(X)
2,Less than high school graduate,"4,078,282",13.10%,"2,372,035",14.90%,"1,706,247",11.30%
3,High school graduate (includes equivalency),"9,611,552",31.00%,"5,435,902",34.20%,"4,175,650",27.70%
4,Some college or associate's degree,"13,973,145",45.10%,"6,690,441",42.00%,"7,282,704",48.20%
...,...,...,...,...,...,...,...
63,Less than high school graduate,"21,839",(X),"25,943",(X),"16,618",(X)
64,High school graduate (includes equival...,"29,969",(X),"35,247",(X),"23,010",(X)
65,Some college or associate's degree,"35,406",(X),"42,071",(X),"29,854",(X)
66,Bachelor's degree,"51,676",(X),"63,113",(X),"43,047",(X)
67,Graduate or professional degree,"70,121",(X),"86,879",(X),"58,724",(X)

In [59]:
y16_columns=y2016_edu.columns
y16_columns

Index(['Label', 'United States!!Total!!Estimate',
       'United States!!Percent!!Estimate', 'United States!!Males!!Estimate',
       'United States!!Percent Males!!Estimate',
       'United States!!Females!!Estimate',
       'United States!!Percent Females!!Estimate'],
      dtype='object')

In [60]:
y16=[c.replace("!!","_")for c in y16_columns]
y16

['Label',
 'United States_Total_Estimate',
 'United States_Percent_Estimate',
 'United States_Males_Estimate',
 'United States_Percent Males_Estimate',
 'United States_Females_Estimate',
 'United States_Percent Females_Estimate']

In [61]:
y16=[c.replace(" ","_")for c in y16]
y16

['Label',
 'United_States_Total_Estimate',
 'United_States_Percent_Estimate',
 'United_States_Males_Estimate',
 'United_States_Percent_Males_Estimate',
 'United_States_Females_Estimate',
 'United_States_Percent_Females_Estimate']

In [62]:
y16_zip=zip(y16_columns,y16)

In [63]:
next(y16_zip)

('Label', 'Label')

In [64]:
y16r=dict(y16_zip)
y16r

{'United States!!Total!!Estimate': 'United_States_Total_Estimate',
 'United States!!Percent!!Estimate': 'United_States_Percent_Estimate',
 'United States!!Males!!Estimate': 'United_States_Males_Estimate',
 'United States!!Percent Males!!Estimate': 'United_States_Percent_Males_Estimate',
 'United States!!Females!!Estimate': 'United_States_Females_Estimate',
 'United States!!Percent Females!!Estimate': 'United_States_Percent_Females_Estimate'}

In [65]:
y2016_edu.rename(columns=y16r,inplace=True)

In [66]:
y2016=pd.DataFrame(y2016_edu)

In [67]:
y2016=y2016.drop(['United_States_Percent_Estimate','United_States_Percent_Males_Estimate','United_States_Percent_Females_Estimate'],axis=1)

In [68]:
y2016=y2016.loc[[1,2,3,4,5,6,7,8,9,10,11,12,13],:]
y2016=y2016.set_index("Label")

In [69]:
y2016.to_csv('data/Clean_Data/y2016.csv')
y2016

,United_States_Total_Estimate,United_States_Males_Estimate,United_States_Females_Estimate
Label,,,
Population 18 to 24 years,"31,014,292","15,916,664","15,097,628"
Less than high school graduate,"4,078,282","2,372,035","1,706,247"
High school graduate (includes equivalency),"9,611,552","5,435,902","4,175,650"
Some college or associate's degree,"13,973,145","6,690,441","7,282,704"
Bachelor's degree or higher,"3,351,313","1,418,286","1,933,027"
Population 25 years and over,"218,475,480","105,466,484","113,008,996"
Less than 9th grade,"11,692,904","5,821,490","5,871,414"
"9th to 12th grade, no diploma","15,719,330","8,195,164","7,524,166"
High school graduate (includes equivalency),"59,373,780","29,600,138","29,773,642"
"Some college, no degree","45,095,348","21,510,669","23,584,679"
Associate's degree,"18,259,841","7,829,411","10,430,430"
Bachelor's degree,"42,242,395","20,030,807","22,211,588"
Graduate or professional degree,"26,091,882","12,478,805","13,613,077"

### 2017 Data Cleanup

In [70]:
y2017_edu

,Label,United States!!Total!!Estimate,United States!!Percent!!Estimate,United States!!Male!!Estimate,United States!!Percent Male!!Estimate,United States!!Female!!Estimate,United States!!Percent Female!!Estimate
0,AGE BY EDUCATIONAL ATTAINMENT,NaN,NaN,NaN,NaN,NaN,NaN
1,Population 18 to 24 years,"30,820,412",(X),"15,827,557",(X),"14,992,855",(X)
2,Less than high school graduate,"3,919,137",12.70%,"2,293,879",14.50%,"1,625,258",10.80%
3,High school graduate (includes equivalency),"9,772,204",31.70%,"5,514,948",34.80%,"4,257,256",28.40%
4,Some college or associate's degree,"13,755,643",44.60%,"6,602,442",41.70%,"7,153,201",47.70%
...,...,...,...,...,...,...,...
63,Less than high school graduate,"23,031",(X),"27,219",(X),"17,391",(X)
64,High school graduate (includes equival...,"30,624",(X),"36,134",(X),"24,159",(X)
65,Some college or associate's degree,"36,190",(X),"43,685",(X),"30,512",(X)
66,Bachelor's degree,"52,484",(X),"65,700",(X),"45,233",(X)
67,Graduate or professional degree,"71,097",(X),"88,708",(X),"60,691",(X)

In [71]:
y17_columns=y2017_edu.columns
y17_columns

Index(['Label', 'United States!!Total!!Estimate',
       'United States!!Percent!!Estimate', 'United States!!Male!!Estimate',
       'United States!!Percent Male!!Estimate',
       'United States!!Female!!Estimate',
       'United States!!Percent Female!!Estimate'],
      dtype='object')

In [72]:
y17=[c.replace("!!","_")for c in y17_columns]
y17

['Label',
 'United States_Total_Estimate',
 'United States_Percent_Estimate',
 'United States_Male_Estimate',
 'United States_Percent Male_Estimate',
 'United States_Female_Estimate',
 'United States_Percent Female_Estimate']

In [73]:
y17=[c.replace(" ","_")for c in y17]
y17

['Label',
 'United_States_Total_Estimate',
 'United_States_Percent_Estimate',
 'United_States_Male_Estimate',
 'United_States_Percent_Male_Estimate',
 'United_States_Female_Estimate',
 'United_States_Percent_Female_Estimate']

In [74]:
y17_zip=zip(y17_columns,y17)

In [75]:
next(y17_zip)

('Label', 'Label')

In [76]:
y17r=dict(y17_zip)
y17r

{'United States!!Total!!Estimate': 'United_States_Total_Estimate',
 'United States!!Percent!!Estimate': 'United_States_Percent_Estimate',
 'United States!!Male!!Estimate': 'United_States_Male_Estimate',
 'United States!!Percent Male!!Estimate': 'United_States_Percent_Male_Estimate',
 'United States!!Female!!Estimate': 'United_States_Female_Estimate',
 'United States!!Percent Female!!Estimate': 'United_States_Percent_Female_Estimate'}

In [77]:
y2017_edu.rename(columns=y17r,inplace=True)

In [78]:
y2017=pd.DataFrame(y2017_edu)

In [79]:
y2017=y2017.loc[[1,2,3,4,5,6,7,8,9,10,11,12,13],:]
y2017=y2017.set_index("Label")
# y2017

In [80]:
y2017=y2017.drop(['United_States_Percent_Estimate','United_States_Percent_Male_Estimate','United_States_Percent_Female_Estimate'],axis=1)

In [81]:
y2017.to_csv('data/Clean_Data/y2017.csv')
y2017

,United_States_Total_Estimate,United_States_Male_Estimate,United_States_Female_Estimate
Label,,,
Population 18 to 24 years,"30,820,412","15,827,557","14,992,855"
Less than high school graduate,"3,919,137","2,293,879","1,625,258"
High school graduate (includes equivalency),"9,772,204","5,514,948","4,257,256"
Some college or associate's degree,"13,755,643","6,602,442","7,153,201"
Bachelor's degree or higher,"3,373,428","1,416,288","1,957,140"
Population 25 years and over,"221,250,083","106,901,803","114,348,280"
Less than 9th grade,"11,267,058","5,576,969","5,690,089"
"9th to 12th grade, no diploma","15,315,153","7,993,828","7,321,325"
High school graduate (includes equivalency),"60,031,545","30,148,425","29,883,120"
"Some college, no degree","45,109,653","21,594,389","23,515,264"
Associate's degree,"18,760,759","8,078,929","10,681,830"
Bachelor's degree,"43,585,028","20,618,486","22,966,542"
Graduate or professional degree,"27,180,887","12,890,777","14,290,110"

### 2018 Data Cleanup

In [82]:
y2018_edu

,Label,United States!!Total!!Estimate,United States!!Percent!!Estimate,United States!!Male!!Estimate,United States!!Percent Male!!Estimate,United States!!Female!!Estimate,United States!!Percent Female!!Estimate
0,AGE BY EDUCATIONAL ATTAINMENT,NaN,NaN,NaN,NaN,NaN,NaN
1,Population 18 to 24 years,"30,656,350",(X),"15,699,747",(X),"14,956,603",(X)
2,Less than high school graduate,"3,839,148",12.50%,"2,235,271",14.20%,"1,603,877",10.70%
3,High school graduate (includes equival...,"9,816,791",32.00%,"5,482,696",34.90%,"4,334,095",29.00%
4,Some college or associate's degree,"13,454,481",43.90%,"6,481,683",41.30%,"6,972,798",46.60%
...,...,...,...,...,...,...,...
63,Less than high school graduate,"24,530",(X),"29,267",(X),"18,518",(X)
64,High school graduate (includes equival...,"31,269",(X),"36,976",(X),"25,022",(X)
65,Some college or associate's degree,"36,854",(X),"45,255",(X),"31,018",(X)
66,Bachelor's degree,"54,628",(X),"66,710",(X),"46,316",(X)
67,Graduate or professional degree,"72,492",(X),"91,217",(X),"61,737",(X)

In [83]:
y18_columns=y2018_edu.columns
y18_columns

Index(['Label', 'United States!!Total!!Estimate',
       'United States!!Percent!!Estimate', 'United States!!Male!!Estimate',
       'United States!!Percent Male!!Estimate',
       'United States!!Female!!Estimate',
       'United States!!Percent Female!!Estimate'],
      dtype='object')

In [84]:
y18=[c.replace("!!","_")for c in y18_columns]
y18

['Label',
 'United States_Total_Estimate',
 'United States_Percent_Estimate',
 'United States_Male_Estimate',
 'United States_Percent Male_Estimate',
 'United States_Female_Estimate',
 'United States_Percent Female_Estimate']

In [85]:
y18=[c.replace(" ","_")for c in y18]
y18

['Label',
 'United_States_Total_Estimate',
 'United_States_Percent_Estimate',
 'United_States_Male_Estimate',
 'United_States_Percent_Male_Estimate',
 'United_States_Female_Estimate',
 'United_States_Percent_Female_Estimate']

In [86]:
y18_zip=zip(y18_columns,y18)

In [87]:
next(y18_zip)

('Label', 'Label')

In [88]:
y18r=dict(y18_zip)
y18r

{'United States!!Total!!Estimate': 'United_States_Total_Estimate',
 'United States!!Percent!!Estimate': 'United_States_Percent_Estimate',
 'United States!!Male!!Estimate': 'United_States_Male_Estimate',
 'United States!!Percent Male!!Estimate': 'United_States_Percent_Male_Estimate',
 'United States!!Female!!Estimate': 'United_States_Female_Estimate',
 'United States!!Percent Female!!Estimate': 'United_States_Percent_Female_Estimate'}

In [89]:
y2018_edu.rename(columns=y18r,inplace=True)

In [90]:
y2018=pd.DataFrame(y2018_edu)

In [91]:
y2018=y2018.drop(['United_States_Percent_Estimate','United_States_Percent_Male_Estimate','United_States_Percent_Female_Estimate'],axis=1)

In [92]:
y2018=y2018.loc[[1,2,3,4,5,6,7,8,9,10,11,12,13],:]
y2018=y2018.set_index("Label")

In [93]:
y2018.to_csv('data/Clean_Data/y2018.csv')
y2018

,United_States_Total_Estimate,United_States_Male_Estimate,United_States_Female_Estimate
Label,,,
Population 18 to 24 years,"30,656,350","15,699,747","14,956,603"
Less than high school graduate,"3,839,148","2,235,271","1,603,877"
High school graduate (includes equivalency),"9,816,791","5,482,696","4,334,095"
Some college or associate's degree,"13,454,481","6,481,683","6,972,798"
Bachelor's degree or higher,"3,545,930","1,500,097","2,045,833"
Population 25 years and over,"223,158,847","107,879,122","115,279,725"
Less than 9th grade,"11,083,738","5,485,886","5,597,852"
"9th to 12th grade, no diploma","14,960,425","7,817,988","7,142,437"
High school graduate (includes equivalency),"59,961,893","30,176,064","29,785,829"
"Some college, no degree","45,224,654","21,678,168","23,546,486"
Associate's degree,"19,177,676","8,311,544","10,866,132"
Bachelor's degree,"44,599,186","21,103,379","23,495,807"
Graduate or professional degree,"28,151,275","13,306,093","14,845,182"

### 2019 Data Cleanup

In [94]:
y2019_edu

,Label,United States!!Total!!Estimate,United States!!Percent!!Estimate,United States!!Male!!Estimate,United States!!Percent Male!!Estimate,United States!!Female!!Estimate,United States!!Percent Female!!Estimate
0,AGE BY EDUCATIONAL ATTAINMENT,NaN,NaN,NaN,NaN,NaN,NaN
1,Population 18 to 24 years,"30,373,170",(X),"15,556,254",(X),"14,816,916",(X)
2,Less than high school graduate,"3,662,080",12.10%,"2,126,765",13.70%,"1,535,315",10.40%
3,High school graduate (includes equival...,"9,921,331",32.70%,"5,613,801",36.10%,"4,307,530",29.10%
4,Some college or associate's degree,"13,168,280",43.40%,"6,298,275",40.50%,"6,870,005",46.40%
...,...,...,...,...,...,...,...
63,Less than high school graduate,"25,876",(X),"30,725",(X),"20,046",(X)
64,High school graduate (includes equival...,"31,956",(X),"38,906",(X),"25,829",(X)
65,Some college or associate's degree,"38,125",(X),"46,610",(X),"31,644",(X)
66,Bachelor's degree,"56,344",(X),"69,201",(X),"47,895",(X)
67,Graduate or professional degree,"75,495",(X),"93,998",(X),"63,912",(X)

In [95]:
y19_columns=y2019_edu.columns
y19_columns

Index(['Label', 'United States!!Total!!Estimate',
       'United States!!Percent!!Estimate', 'United States!!Male!!Estimate',
       'United States!!Percent Male!!Estimate',
       'United States!!Female!!Estimate',
       'United States!!Percent Female!!Estimate'],
      dtype='object')

In [96]:
y19=[c.replace("!!","_")for c in y19_columns]
y19

['Label',
 'United States_Total_Estimate',
 'United States_Percent_Estimate',
 'United States_Male_Estimate',
 'United States_Percent Male_Estimate',
 'United States_Female_Estimate',
 'United States_Percent Female_Estimate']

In [97]:
y19=[c.replace(" ","_")for c in y19]
y19

['Label',
 'United_States_Total_Estimate',
 'United_States_Percent_Estimate',
 'United_States_Male_Estimate',
 'United_States_Percent_Male_Estimate',
 'United_States_Female_Estimate',
 'United_States_Percent_Female_Estimate']

In [98]:
y19_zip=zip(y19_columns,y19)

In [99]:
next(y19_zip)

('Label', 'Label')

In [100]:
y19r=dict(y19_zip)
y19r

{'United States!!Total!!Estimate': 'United_States_Total_Estimate',
 'United States!!Percent!!Estimate': 'United_States_Percent_Estimate',
 'United States!!Male!!Estimate': 'United_States_Male_Estimate',
 'United States!!Percent Male!!Estimate': 'United_States_Percent_Male_Estimate',
 'United States!!Female!!Estimate': 'United_States_Female_Estimate',
 'United States!!Percent Female!!Estimate': 'United_States_Percent_Female_Estimate'}

In [101]:
y2019_edu.rename(columns=y19r,inplace=True)

In [102]:
y2019=pd.DataFrame(y2019_edu)

In [103]:
y2019=y2019.drop(['United_States_Percent_Estimate','United_States_Percent_Male_Estimate','United_States_Percent_Female_Estimate'],axis=1)

In [104]:
y2019=y2019.loc[[1,2,3,4,5,6,7,8,9,10,11,12,13],:]
y2019=y2019.set_index("Label")

In [105]:
y2019.to_csv('data/Clean_Data/y2019.csv')
y2019

,United_States_Total_Estimate,United_States_Male_Estimate,United_States_Female_Estimate
Label,,,
Population 18 to 24 years,"30,373,170","15,556,254","14,816,916"
Less than high school graduate,"3,662,080","2,126,765","1,535,315"
High school graduate (includes equivalency),"9,921,331","5,613,801","4,307,530"
Some college or associate's degree,"13,168,280","6,298,275","6,870,005"
Bachelor's degree or higher,"3,621,479","1,517,413","2,104,066"
Population 25 years and over,"224,898,568","108,711,092","116,187,476"
Less than 9th grade,"10,874,685","5,401,669","5,473,016"
"9th to 12th grade, no diploma","14,743,856","7,685,261","7,058,595"
High school graduate (includes equivalency),"60,482,353","30,551,814","29,930,539"
"Some college, no degree","44,914,086","21,578,525","23,335,561"
Associate's degree,"19,381,937","8,391,409","10,990,528"
Bachelor's degree,"45,730,479","21,645,659","24,084,820"
Graduate or professional degree,"28,771,172","13,456,755","15,314,417"

# Load into SQLDatabase

## Creat database connection

In [106]:
import sqlalchemy
import getpass
import psycopg2

In [107]:
upass=getpass.getpass('Enter password')

Enter password········

In [108]:
conn_string= "postgresql://postgres:"+upass+"@localhost:5434/womensEducation"
engine = create_engine(conn_string)

In [109]:
connection = engine.connect()

In [110]:
associates.to_sql(name='associates', con=engine, if_exists='append', index=True)
bachelors.to_sql(name='bachelors', con=engine, if_exists='append', index=True)
masters.to_sql(name='masters', con=engine, if_exists='append', index=True)
doctorate.to_sql(name='doctorate', con=engine, if_exists='append', index=True)
y2015.to_sql(name='y2015', con=engine, if_exists='append', index=True)
y2016.to_sql(name='y2016', con=engine, if_exists='append', index=True)
y2017.to_sql(name='y2017', con=engine, if_exists='append', index=True)
y2018.to_sql(name='y2018', con=engine, if_exists='append', index=True)
y2019.to_sql(name='y2019', con=engine, if_exists='append', index=True)

In [111]:
pd.read_sql_query('select * from doctorate', con=engine).head()

       Year Doctors_degrees   Males Females Percent female
0  2013-14          177,587  85,585  92,002           51.8
1  2014-15          178,548  84,922  93,626           52.4
2  2015-16          178,134  84,240  93,894           52.7
3  2016-17          181,357  84,649  96,708           53.3
4  2017-18          184,074  85,568  98,506           53.5