In [18]:
# Import dependencies
import pandas as pd
import scipy.stats as st
from sqlalchemy import create_engine

# Extract

In [68]:
# Data Files
degreesConferred_path="data/NCES/Degrees_Conferred.csv"
degrees1215_path="data/NCES/DegreesConferredTerritory1215.csv"
degrees1619_path="data/NCES/DegreesConferredTerritory1619.csv"
y2015_edu_path="data/US-Census-Bureau/2015_Education_Attainement.csv"
y2016_edu_path="data/US-Census-Bureau/2016_Education_Attainement.csv"
y2017_edu_path="data/US-Census-Bureau/2017_Education_Attainement.csv"
y2018_edu_path="data/US-Census-Bureau/2018_Education_Attainement.csv"
y2019_edu_path="data/US-Census-Bureau/2019_Education_Attainement.csv"

In [69]:
# Read data
degreesConferred=pd.read_csv(degreesConferred_path,encoding= 'unicode_escape',skiprows=1)
degrees1215=pd.read_csv(degrees1215_path, encoding= 'unicode_escape')
degrees1619=pd.read_csv(degrees1619_path, encoding= 'unicode_escape')
y2015_edu=pd.read_csv(y2015_edu_path, encoding= 'unicode_escape')
y2016_edu=pd.read_csv(y2016_edu_path, encoding= 'unicode_escape')
y2017_edu=pd.read_csv(y2017_edu_path, encoding= 'unicode_escape')
y2018_edu=pd.read_csv(y2018_edu_path, encoding= 'unicode_escape')
y2019_edu=pd.read_csv(y2019_edu_path, encoding= 'unicode_escape')

# Transform

### Degrees Granted and Split by Degree

In [21]:
# Display data
degreesConferred

,Year,Associate's degrees,Unnamed: 2,Unnamed: 3,Unnamed: 4,Bachelor's degrees,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Master's degrees,Unnamed: 13,Unnamed: 14,Unnamed: 15,Doctor's degrees\,Unnamed: 17,Unnamed: 18,Unnamed: 19
0,NaN,Total,Males,Females,Percent female,Total,NaN,Males,NaN,Females,NaN,Percent female,Total,Males,Females,Percent female,Total,Males,Females,Percent female
1,1,2,3,4,5,6,NaN,7,NaN,8,NaN,9,10,11,12,13,14,15,16,17
2,1869-70,---,---,---,---,"9,371",\,"7,993",\,"1,378",\,14.7,0,0,0,---,1,1,0,0.0
3,1879-80,---,---,---,---,"12,896",\,"10,411",\,"2,485",\,19.3,879,868,11,1.3,54,51,3,5.6
4,1889-90,---,---,---,---,"15,539",\,"12,857",\,"2,682",\,17.3,"1,015",821,194,19.1,149,147,2,1.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
176,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
177,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
178,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
179,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
180,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
# Filter out unwanted years
degreesConferred=degreesConferred.loc[[0,47,48,49,50,51,52,53],:]
# degreesConferred=degreesConferred.set_index('Year')

In [23]:
# Rename Columns
dcColumns=degreesConferred.columns
dcColumns

Index(['Year', 'Associate's degrees', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Bachelor's degrees', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8',
       'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Master's degrees',
       'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Doctor's degrees\',
       'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19'],
      dtype='object')

In [24]:
dc=[c.replace("'","")for c in dcColumns]

In [25]:
dc2=[c.replace(" ","_")for c in dc]

In [26]:
dc3=[c.replace(":","")for c in dc2]

In [27]:
dc4=[c.replace("\x01\\","")for c in dc3]
dc4

['Year',
 'Associates_degrees',
 'Unnamed_2',
 'Unnamed_3',
 'Unnamed_4',
 'Bachelors_degrees',
 'Unnamed_6',
 'Unnamed_7',
 'Unnamed_8',
 'Unnamed_9',
 'Unnamed_10',
 'Unnamed_11',
 'Masters_degrees',
 'Unnamed_13',
 'Unnamed_14',
 'Unnamed_15',
 'Doctors_degrees',
 'Unnamed_17',
 'Unnamed_18',
 'Unnamed_19']

In [28]:
dcZip=zip(dcColumns,dc4)

In [29]:
next(dcZip)

('Year', 'Year')

In [30]:
dcR=dict(dcZip)

In [31]:
degreesConferred.rename(columns=dcR,inplace=True)

In [32]:
dConferred=pd.DataFrame(degreesConferred)
dConferred=dConferred.set_index('Year')

In [33]:
dConferred

,Associates_degrees,Unnamed_2,Unnamed_3,Unnamed_4,Bachelors_degrees,Unnamed_6,Unnamed_7,Unnamed_8,Unnamed_9,Unnamed_10,Unnamed_11,Masters_degrees,Unnamed_13,Unnamed_14,Unnamed_15,Doctors_degrees,Unnamed_17,Unnamed_18,Unnamed_19
Year,,,,,,,,,,,,,,,,,,,
NaN,Total,Males,Females,Percent female,Total,NaN,Males,NaN,Females,NaN,Percent female,Total,Males,Females,Percent female,Total,Males,Females,Percent female
2013-14,"1,005,155","391,474","613,681",61.1,"1,870,150",NaN,"801,905",NaN,"1,068,245",NaN,57.1,"754,582","302,846","451,736",59.9,"177,587","85,585","92,002",51.8
2014-15,"1,014,341","396,782","617,559",60.9,"1,894,969",NaN,"812,693",NaN,"1,082,276",NaN,57.1,"758,804","306,615","452,189",59.6,"178,548","84,922","93,626",52.4
2015-16,"1,008,228","392,084","616,144",61.1,"1,920,750",NaN,"821,746",NaN,"1,099,004",NaN,57.2,"785,757","320,574","465,183",59.2,"178,134","84,240","93,894",52.7
2016-17,"1,005,687","394,147","611,540",60.8,"1,956,114",NaN,"836,021",NaN,"1,120,093",NaN,57.3,"804,542","326,857","477,685",59.4,"181,357","84,649","96,708",53.3
2017-18,"1,011,487","398,600","612,887",60.6,"1,980,644",NaN,"844,960",NaN,"1,135,684",NaN,57.3,"820,102","326,870","493,232",60.1,"184,074","85,568","98,506",53.5
2018-19\,"977,000","381,000","596,000",61.0,"1,989,000",NaN,"843,000",NaN,"1,146,000",NaN,57.6,"829,000","326,000","502,000",60.6,"186,000","85,000","100,000",54.1
2019-20\,"981,000","382,000","599,000",61.0,"1,996,000",NaN,"846,000",NaN,"1,151,000",NaN,57.6,"832,000","327,000","505,000",60.7,"186,000","86,000","101,000",54.1

#### 2012 through 2015 Degrees by State

In [70]:
d1215C=degrees1215.iloc[0]
d1215C

ï»¿"Table 319.20. Degrees conferred by postsecondary institutions                State or jurisdiction
 by level of degree and state or jurisdiction: 2012-13 through 2014-15      "                   2012-13
Unnamed: 2                                                                                          NaN
Unnamed: 3                                                                                          NaN
Unnamed: 4                                                                                          NaN
Unnamed: 5                                                                                      2013-14
Unnamed: 6                                                                                          NaN
Unnamed: 7                                                                                          NaN
Unnamed: 8                                                                                          NaN
Unnamed: 9                                                                                      2014-15
Unnamed: 10                                                                                         NaN
Unnamed: 11                                                                                         NaN
Unnamed: 12                                                                                         NaN
Unnamed: 13                                                                                         NaN
Name: 0, dtype: object

In [71]:
degrees1215=degrees1215[1:]
degrees1215

,"ï»¿""Table 319.20. Degrees conferred by postsecondary institutions","by level of degree and state or jurisdiction: 2012-13 through 2014-15 """,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
1,NaN,Asso- ciate's degrees,Bachelor's degrees,Master's degrees,Doctor's de- grees\,Asso- ciate's degrees,Bachelor's degrees,Master's degrees,Doctor's de- grees\,Asso- ciate's degrees,Bachelor's degrees,Master's degrees,Doctor's de- grees\,NaN
2,1,2,3,4,5,6,7,8,9,10,11,12,13,NaN
3,United States .............,"1,007,427","1,840,381","751,718","175,026","1,005,155","1,870,150","754,582","177,587","1,013,971","1,894,934","758,708","178,547",NaN
4,Alabama ....................,"13,758","29,876","11,670","2,297","13,303","29,516","11,346","2,286","13,629","30,060","11,800","2,429",NaN
5,Alaska .........................,"1,758","1,895",724,54,"1,805","2,033",707,60,"1,715","1,932",703,49,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
251,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
252,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
253,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
254,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
255,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [72]:
degrees1215.columns=d1215C
degrees1215

,State or jurisdiction,2012-13,NaN,NaN,NaN,2013-14,NaN,NaN,NaN,2014-15,NaN,NaN,NaN,NaN
1,NaN,Asso- ciate's degrees,Bachelor's degrees,Master's degrees,Doctor's de- grees\,Asso- ciate's degrees,Bachelor's degrees,Master's degrees,Doctor's de- grees\,Asso- ciate's degrees,Bachelor's degrees,Master's degrees,Doctor's de- grees\,NaN
2,1,2,3,4,5,6,7,8,9,10,11,12,13,NaN
3,United States .............,"1,007,427","1,840,381","751,718","175,026","1,005,155","1,870,150","754,582","177,587","1,013,971","1,894,934","758,708","178,547",NaN
4,Alabama ....................,"13,758","29,876","11,670","2,297","13,303","29,516","11,346","2,286","13,629","30,060","11,800","2,429",NaN
5,Alaska .........................,"1,758","1,895",724,54,"1,805","2,033",707,60,"1,715","1,932",703,49,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
251,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
252,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
253,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
254,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
255,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### Associates Degrees

In [ ]:
columnTitle=['Total','Males','Females','Percent female']

In [ ]:
associates = dConferred[['Associates_degrees', 'Unnamed_2', 'Unnamed_3', 'Unnamed_4']].copy()
aDegreeC=associates.columns

In [ ]:
aZip=zip(aDegreeC,columnTitle)

In [ ]:
next(aZip)

In [ ]:
aDegreeR=dict(aZip)

In [ ]:
associates.rename(columns=aDegreeR,inplace=True)

In [ ]:
associates.to_csv('data/Clean_Data/associates.csv')
associates

#### Bachelors Degrees

In [ ]:
bachelors= dConferred[['Bachelors_degrees', 'Unnamed_7', 'Unnamed_9', 'Unnamed_11']].copy()
bDegreeC=bachelors.columns

In [ ]:
bZip=zip(bDegreeC,columnTitle)

In [ ]:
next(bZip)

In [ ]:
bDegreeR=dict(bZip)

In [ ]:
bachelors.rename(columns=bDegreeR,inplace=True)

In [ ]:
bachelors.to_csv('data/Clean_Data/bachelors.csv')
bachelors

#### Masters Degrees

In [ ]:
masters = dConferred[['Masters_degrees', 'Unnamed_13','Unnamed_14', 'Unnamed_15']].copy()
mDegreeC=masters.columns

In [ ]:
mZip=zip(mDegreeC,columnTitle)

In [ ]:
next(mZip)

In [ ]:
mDegreeR=dict(mZip)

In [ ]:
masters.rename(columns=mDegreeR,inplace=True)

In [ ]:
masters.to_csv('data/Clean_Data/masters.csv')
masters

#### Doctorate Degrees

In [ ]:
doctorate = dConferred[['Doctors_degrees', 'Unnamed_17','Unnamed_18', 'Unnamed_19']].copy()
dDegreeC=doctorate.columns

In [ ]:
dZip=zip(dDegreeC,columnTitle)

In [ ]:
next(dZip)

In [ ]:
dDegreeR=dict(dZip)

In [ ]:
doctorate.rename(columns=dDegreeR,inplace=True)

In [ ]:
doctorate.to_csv('data/Clean_Data/doctorate.csv')
doctorate

### 2015 Data Cleanup

In [ ]:
# Display read_csv data
y2015_edu

In [ ]:
# Rename columns
y15_columns=y2015_edu.columns
y15_columns

In [ ]:
y15=[c.replace("!!","_")for c in y15_columns]
y15

In [ ]:
y15=[c.replace(" ","_")for c in y15]
y15

In [ ]:
#Replace columns
y15_zip=zip(y15_columns,y15)

In [ ]:
next(y15_zip)

In [ ]:
y15r=dict(y15_zip)
y15r

In [ ]:
y2015_edu.rename(columns=y15r,inplace=True)

In [ ]:
# Create pd.DataFrame
y2015=pd.DataFrame(y2015_edu)

In [ ]:
# Drop unnecessary columns
y2015=y2015.drop(['United_States_Percent_Estimate','United_States_Percent_Males_Estimate',
                  'United_States_Percent_Females_Estimate'],axis=1)

In [ ]:
# Pull wanted rows
y2015=y2015.loc[[1,2,3,4,5,6,7,8,9,10,11,12,13],:]
y2015=y2015.set_index("Label")

In [ ]:
# Save to CSV as cleaned data
y2015.to_csv('data/Clean_Data/y2015.csv')
y2015

### 2016 Data Cleanup

In [ ]:
y2016_edu

In [ ]:
y16_columns=y2016_edu.columns
y16_columns

In [ ]:
y16=[c.replace("!!","_")for c in y16_columns]
y16

In [ ]:
y16=[c.replace(" ","_")for c in y16]
y16

In [ ]:
y16_zip=zip(y16_columns,y16)

In [ ]:
next(y16_zip)

In [ ]:
y16r=dict(y16_zip)
y16r

In [ ]:
y2016_edu.rename(columns=y16r,inplace=True)

In [ ]:
y2016=pd.DataFrame(y2016_edu)

In [ ]:
y2016=y2016.drop(['United_States_Percent_Estimate','United_States_Percent_Males_Estimate','United_States_Percent_Females_Estimate'],axis=1)

In [ ]:
y2016=y2016.loc[[1,2,3,4,5,6,7,8,9,10,11,12,13],:]
y2016=y2016.set_index("Label")

In [ ]:
y2016.to_csv('data/Clean_Data/y2016.csv')
y2016

### 2017 Data Cleanup

In [ ]:
y2017_edu

In [ ]:
y17_columns=y2017_edu.columns
y17_columns

In [ ]:
y17=[c.replace("!!","_")for c in y17_columns]
y17

In [ ]:
y17=[c.replace(" ","_")for c in y17]
y17

In [ ]:
y17_zip=zip(y17_columns,y17)

In [ ]:
next(y17_zip)

In [ ]:
y17r=dict(y17_zip)
y17r

In [ ]:
y2017_edu.rename(columns=y17r,inplace=True)

In [ ]:
y2017=pd.DataFrame(y2017_edu)

In [ ]:
y2017=y2017.loc[[1,2,3,4,5,6,7,8,9,10,11,12,13],:]
y2017=y2017.set_index("Label")
# y2017

In [ ]:
y2017=y2017.drop(['United_States_Percent_Estimate','United_States_Percent_Male_Estimate','United_States_Percent_Female_Estimate'],axis=1)

In [ ]:
y2017.to_csv('data/Clean_Data/y2017.csv')
y2017

### 2018 Data Cleanup

In [ ]:
y2018_edu

In [ ]:
y18_columns=y2018_edu.columns
y18_columns

In [ ]:
y18=[c.replace("!!","_")for c in y18_columns]
y18

In [ ]:
y18=[c.replace(" ","_")for c in y18]
y18

In [ ]:
y18_zip=zip(y18_columns,y18)

In [ ]:
next(y18_zip)

In [ ]:
y18r=dict(y18_zip)
y18r

In [ ]:
y2018_edu.rename(columns=y18r,inplace=True)

In [ ]:
y2018=pd.DataFrame(y2018_edu)

In [ ]:
y2018=y2018.drop(['United_States_Percent_Estimate','United_States_Percent_Male_Estimate','United_States_Percent_Female_Estimate'],axis=1)

In [ ]:
y2018=y2018.loc[[1,2,3,4,5,6,7,8,9,10,11,12,13],:]
y2018=y2018.set_index("Label")

In [ ]:
y2018.to_csv('data/Clean_Data/y2018.csv')
y2018

### 2019 Data Cleanup

In [ ]:
y2019_edu

In [ ]:
y19_columns=y2019_edu.columns
y19_columns

In [ ]:
y19=[c.replace("!!","_")for c in y19_columns]
y19

In [ ]:
y19=[c.replace(" ","_")for c in y19]
y19

In [ ]:
y19_zip=zip(y19_columns,y19)

In [ ]:
next(y19_zip)

In [ ]:
y19r=dict(y19_zip)
y19r

In [ ]:
y2019_edu.rename(columns=y19r,inplace=True)

In [ ]:
y2019=pd.DataFrame(y2019_edu)

In [ ]:
y2019=y2019.drop(['United_States_Percent_Estimate','United_States_Percent_Male_Estimate','United_States_Percent_Female_Estimate'],axis=1)

In [ ]:
y2019=y2019.loc[[1,2,3,4,5,6,7,8,9,10,11,12,13],:]
y2019=y2019.set_index("Label")

In [ ]:
y2019.to_csv('data/Clean_Data/y2019.csv')
y2019

# Load into SQLDatabase

## Creat database connection

In [ ]:
import sqlalchemy
import getpass
import psycopg2

In [ ]:
upass=getpass.getpass('Enter password')

In [ ]:
conn_string= "postgresql://postgres:"+upass+"@localhost:5434/womensEducation"
engine = create_engine(conn_string)

In [ ]:
connection = engine.connect()

In [ ]:
associates.to_sql(name='associates', con=engine, if_exists='append', index=True)
bachelors.to_sql(name='bachelors', con=engine, if_exists='append', index=True)
masters.to_sql(name='masters', con=engine, if_exists='append', index=True)
doctorate.to_sql(name='doctorate', con=engine, if_exists='append', index=True)
y2015.to_sql(name='y2015', con=engine, if_exists='append', index=True)
y2016.to_sql(name='y2016', con=engine, if_exists='append', index=True)
y2017.to_sql(name='y2017', con=engine, if_exists='append', index=True)
y2018.to_sql(name='y2018', con=engine, if_exists='append', index=True)
y2019.to_sql(name='y2019', con=engine, if_exists='append', index=True)

In [ ]:
pd.read_sql_query('select * from doctorate', con=engine).head()