In [3]:
import pandas as pd
from splinter import Browser
from bs4 import BeautifulSoup
import os
import time

In [4]:
### NASA News

# Executable path to Chrome Driver
executable_path = {'executable_path': 'c:\\Users\\mongb\\UM_Bootcamp\\chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

# visit url
url_nasa='https://mars.nasa.gov/news/'
browser.visit(url_nasa)

# HTML obj.
html=browser.html

nasa_soup=BeautifulSoup(html,'html.parser')

locate=nasa_soup.select_one('ul.item_list li.slide')
# locate.find('div', class_='content_title')

# Scrape the NASA Mars News Site and collect the latest News Title and Paragraph Text. 
news_title=locate.find('div',class_='content_title').get_text()
news_p= locate.find('div', class_='article_teaser_body').get_text()

browser.quit()

print(news_title)
print(news_p)

NASA Ingenuity Mars Helicopter Prepares for First Flight
Now uncocooned from its protective carbon-fiber shield, the helicopter is being readied for its next steps.

In [5]:
### JPL Mars Featured Images

# Executable path to Chrome Driver
executable_path = {'executable_path': 'c:\\Users\\mongb\\UM_Bootcamp\\chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

# visit url
url_jpl="https://www.jpl.nasa.gov/images?search=&category=Mars"
browser.visit(url_jpl)

# HTML obj.
html=browser.html

jpl_soup=BeautifulSoup(html,'html.parser')

featured_image_url=jpl_soup.find('img',class_='BaseImage')['src']

browser.quit()

print(featured_image_url)

https://d2pn8kiwq2w21t.cloudfront.net/images/jpegPIA24435.2e16d0ba.fill-400x400-c50.jpg

In [6]:
# for a in jpl_soup.find_all('a', href=True):
#     print ("URL:", a['href'])

### Mars Weather

In [7]:
import snscrape.modules.twitter as sntwitter

In [8]:
# Query by text search
# Setting variables to be used below
maxTweets = 4

# Creating list to append tweet data to
tweets_list = []

# Using TwitterSearchScraper to scrape data and append tweets to list
for i,tweet in enumerate(sntwitter.TwitterSearchScraper("from:MarsWxReport").get_items()):
    if i>maxTweets:
        break
    tweets_list.append([tweet.date, tweet.id, tweet.content, tweet.user.username])

# Creating a dataframe from the tweets list above
tweets_df = pd.DataFrame(tweets_list, columns=['Datetime', 'Tweet Id', 'Text', 'Username'])

# Display entries from dataframe
tweets_df

,Datetime,Tweet Id,Text,Username
0,2021-03-21 04:51:27+00:00,1373497461201903617,"Sol 3061 (2021-03-17), high -13C/9F, low -74C/...",MarsWxReport
1,2021-03-21 04:51:23+00:00,1373497443124383745,"Sol 3060 (2021-03-16), high -14C/7F, low -73C/...",MarsWxReport
2,2021-03-21 04:51:23+00:00,1373497442109390849,"Sol 3059 (2021-03-15), high -16C/3F, low -77C/...",MarsWxReport
3,2021-03-21 04:51:22+00:00,1373497441157328896,"Sol 3058 (2021-03-14), high -15C/5F, low -73C/...",MarsWxReport
4,2021-03-21 04:51:22+00:00,1373497440159084554,"Sol 3057 (2021-03-13), high -13C/9F, low -73C/...",MarsWxReport

In [9]:
mars_weather=tweets_df.iloc[0]
mars_weather

Datetime                            2021-03-21 04:51:27+00:00
Tweet Id                                  1373497461201903617
Text        Sol 3061 (2021-03-17), high -13C/9F, low -74C/...
Username                                         MarsWxReport
Name: 0, dtype: object

### Mars Facts

In [10]:
# Mars Facts URL
url_facts='https://space-facts.com/mars/'

# Use pandas as pd to read html
mars_facts=pd.read_html(url_facts)

# store html to df
mars_facts_df=pd.DataFrame(mars_facts[0])
mars_facts_df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [11]:
# convert dataframe to html
mars_html=mars_facts_df.to_html()
print(mars_html)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Equatorial Diameter:</td>
      <td>6,792 km</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Polar Diameter:</td>
      <td>6,752 km</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Mass:</td>
      <td>6.39 × 10^23 kg (0.11 Earths)</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Moons:</td>
      <td>2 (Phobos &amp; Deimos)</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Orbit Distance:</td>
      <td>227,943,824 km (1.38 AU)</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Orbit Period:</td>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Surface Temperature:</td>
      <td>-87 to -5 °C</td>
    </tr>
    <tr>
      <th>7</th>
      <td>First Record:</td>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Recorded By:</td>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>

### Mars Hemisphere

In [12]:
# Executable path to Chrome Driver
executable_path = {'executable_path': 'c:\\Users\\mongb\\UM_Bootcamp\\chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

# visit url
url_hemi='https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url_hemi)

# HTML obj.
html=browser.html

hemi_soup=BeautifulSoup(html,'html.parser')

findImg=hemi_soup.find('div',class_='result-list')
hemispheres=findImg.find_all('div',class_='item')

hemisphere_image_urls = []

links = browser.find_by_css("a.product-item h3")

for item in range(len(links)):
    hemisphere = {}
    
    # Find Element on Each Loop to Avoid a Stale Element Exception
    browser.find_by_css("a.product-item h3")[item].click()
    
    # Find Sample Image Anchor Tag & Extract <href>
    sample_element = browser.find_link_by_text("Sample").first
    hemisphere["img_url"] = sample_element["href"]
    
    # Get Hemisphere Title
    hemisphere["title"] = browser.find_by_css("h2.title").text
    
    # Append Hemisphere Object to List
    hemisphere_image_urls.append(hemisphere)
    
    # Navigate Backwards
    browser.back()
    
browser.quit()

C:\Users\mongb\Anaconda3\envs\PythonData\lib\site-packages\splinter\driver\webdriver\__init__.py:498: FutureWarning: browser.find_link_by_text is deprecated. Use browser.links.find_by_text instead.
  warnings.warn(

In [13]:
hemisphere_image_urls

[{'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg',
  'title': 'Cerberus Hemisphere Enhanced'},
 {'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg',
  'title': 'Schiaparelli Hemisphere Enhanced'},
 {'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg',
  'title': 'Syrtis Major Hemisphere Enhanced'},
 {'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg',
  'title': 'Valles Marineris Hemisphere Enhanced'}]